<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="includeHeaderFragment" type=""*/-->
<head th:fragment="header(title)">
    <title th:text="${title}">Title</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <link th:href="@{/styles/root.css}" rel="stylesheet"/>

    <th:block th:if="${includeHeaderFragment}">
        <link th:replace="fragments/header :: ${includeHeaderFragment}">
    </th:block>
</head>

<!-- Following Fragments can be included as eg: header(title = ${pageTitle}, includeHeaderFragment = ${'err-header'}) -->
<link th:fragment="err-header" th:href="@{/styles/error.css}" rel="stylesheet"/>
<link th:fragment="login-header" th:href="@{/styles/login.css}" rel="stylesheet"/>
<link th:fragment="registration-header" th:href="@{/styles/registration.css}" rel="stylesheet"/>
<link th:fragment="profile-header" th:href="@{/styles/profile.css}" rel="stylesheet"/>
<link th:fragment="settings-header" th:href="@{/styles/settings.css}" rel="stylesheet"/>
</html>
