<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="includeHeaderFragment" type=""*/-->
<!--/*@thymesVar id="includeIonicons" type=""*/-->
<head th:fragment="header(title)">
    <title th:text="${title}">Title</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <!-- X-CSRF-TOKEN authentication to invalidate csrf attacks, add values of [_csrf_header]=[_csrf_token] to header req, or [_csrf_header]=[_csrf_parameter] to body req-->
    <meta name="_csrf_token" th:content="${_csrf != null && _csrf.token != null ? _csrf.token : 'DISABLED'}"/>
    <meta name="_csrf_header"
          th:content="${_csrf != null && _csrf.headerName != null ? _csrf.headerName : 'DISABLED'}"/>
    <meta name="_csrf_parameter"
          th:content="${_csrf != null && _csrf.parameterName != null ? _csrf.parameterName : 'DISABLED'}"/>

    <link th:href="@{/styles/root.css}" rel="stylesheet"/>

    <th:block th:if="${includeHeaderFragment}">
        <link th:replace="fragments/header :: ${includeHeaderFragment}">
    </th:block>

    <th:block th:if="${includeIonicons}">
        <!-- Ionicon Icons-->
        <script type="module" src="https://unpkg.com/ionicons@5.1.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule="" src="https://unpkg.com/ionicons@5.1.2/dist/ionicons/ionicons.js"></script>
    </th:block>
</head>

<!-- Following Fragments can be included as eg: header(title = ${pageTitle}, includeHeaderFragment = ${'err-header'}) -->
<link th:fragment="err-header" th:href="@{/styles/error.css}" rel="stylesheet"/>
<link th:fragment="login-header" th:href="@{/styles/login.css}" rel="stylesheet"/>
<link th:fragment="registration-header" th:href="@{/styles/registration.css}" rel="stylesheet"/>
<link th:fragment="profile-header" th:href="@{/styles/profile.css}" rel="stylesheet"/>
<link th:fragment="settings-header" th:href="@{/styles/settings.css}" rel="stylesheet"/>
<link th:fragment="search-header" th:href="@{/styles/search.css}" rel="stylesheet"/>
<link th:fragment="recipe-header" th:href="@{/styles/recipe.css}" rel="stylesheet"/>
<link th:fragment="buyList-header" th:href="@{/styles/buyList.css}" rel="stylesheet"/>
<link th:fragment="createRecipe-header" th:href="@{/styles/createRecipe.css}" rel="stylesheet"/>
</html>
