<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<header>
    <title></title>
    <nav th:fragment="navigation">
        <div class="nav-container">
            <div class="nav-items">
                <a href="/" title="Home"><img class="nav-logo" th:src="@{/unsecured_files/logo_placeholder.png}"
                                              alt="Logo"/>
                    <span class="nav-items-title">Foods & Friends</span>
                </a>
                <div class="nav-search-container">
                    <svg class="search-icon" viewBox="0 0 512 512">
                        <path d="M225.474 0C101.151 0 0 101.151 0 225.474c0 124.33 101.151 225.474 225.474 225.474 124.33 0 225.474-101.144 225.474-225.474C450.948 101.151 349.804 0 225.474 0zm0 409.323c-101.373 0-183.848-82.475-183.848-183.848S124.101 41.626 225.474 41.626s183.848 82.475 183.848 183.848-82.475 183.849-183.848 183.849z"/>
                        <path d="M505.902 476.472L386.574 357.144c-8.131-8.131-21.299-8.131-29.43 0-8.131 8.124-8.131 21.306 0 29.43l119.328 119.328A20.74 20.74 0 00491.187 512a20.754 20.754 0 0014.715-6.098c8.131-8.124 8.131-21.306 0-29.43z"/>
                    </svg>
                    <form th:action="@{/search}" method="get">
                        <input id="search" name="q" type="text" placeholder="Search" title="Search"
                               th:value="${q != null ? q : ''}">
                        <select name="type" id="type">
                            <option value="everywhere" th:selected="${type != null && type == 'everywhere'}">
                                Everywhere
                            </option>
                            <option value="recipes" th:selected="${type != null && type == 'recipes'}">Recipe</option>
                            <option value="users" th:selected="${type != null && type == 'users'}">Users</option>
                        </select>
                    </form>
                </div>
            </div>
            <div class="nav-items">
                <div class="nav-items nav-items-subpages">
                    <a th:if="${authenticated}" th:href="@{/calendar}">
                        <img class="nav-item" th:src="@{/unsecured_files/calendar.svg}"
                             alt="Calender"
                             title="Calender">
                    </a>

                    <a th:if="${authenticated}" th:href="@{/user/freezer}">
                        <img class="nav-item" th:src="@{/unsecured_files/fast-food-outline.svg}"
                             alt="Freezer"
                             title="Freezer">
                    </a>

                    <a th:if="${authenticated}" th:href="@{/recipe/create}">
                        <img class="nav-item" th:src="@{/unsecured_files/create-outline.svg}"
                             alt="Create Recipe"
                             title="Create Recipe">
                    </a>

                    <a th:if="${authenticated}" th:href="@{/user/buyList}">
                        <img class="nav-item" th:src="@{/unsecured_files/cart.svg}"
                             alt="BuyList"
                             title="BuyList"/>
                    </a>

                    <div th:if="${authenticated}"
                         class="notifications-container">
                        <img class="nav-item"
                             alt="Notifications"
                             title="Notifications"
                             th:src="${(#sets.size(authenticated.friendshipsToThisUser) > 0) ? '/unsecured_files/notifications.svg' : '/unsecured_files/notifications-off.svg'}"/>
                        <ul class="open-notifications-dropdown">
                            <li class="notification-status">
                                You have currently [[${ #sets.size(authenticated.friendshipsToThisUser) }]]
                                Notifications
                            </li>
                            <th:block th:each="friendrequest : ${authenticated.friendshipsToThisUser}">
                                <li th:if="${friendrequest.accepted != true}">
                                    <a th:href="'/user/profile/' + ${friendrequest.requested_by.username}">
                                        New Friendrequest to you: [[${friendrequest.requested_by.username}]]
                                    </a>
                                </li>
                            </th:block>

                        </ul>
                    </div>
                </div>
                <div th:class="${authenticated  != null ? 'profile-container authenticated' : 'profile-container'}">
                    <th:block th:if="${authenticated}">
                        <a th:href="'/user/profile/' + ${authenticated.username}">
                            <img class="nav-profile-image"
                                 alt="profile picture"
                                 th:title="${authenticated.username} + '\'s Profile'"
                                 th:src="${authenticated.picture != null ? '/resource/' + authenticated.picture.id : '/unsecured_files/placeholder_profile_image.png'}"/>
                        </a>
                        <span class="user-name">[[${authenticated.username}]]</span>
                        <img class="open-profile" th:src="@{/unsecured_files/down-arrow.svg}" alt="Open Profile"
                             title="Open Profile"/>

                        <ul class="open-profile-dropdown">
                            <li><a th:href="'/user/profile/' + ${authenticated.username}">My Profile</a></li>
                            <li><a href="/user/settings">Settings</a></li>
                            <li><a href="/logout">Logout</a></li>
                        </ul>
                    </th:block>

                    <th:block th:unless="${authenticated}">
                        <a th:if="${#httpServletRequest.requestURI != '/login'}" href="/login">Login</a>
                        <a th:if="${#httpServletRequest.requestURI != '/registration'}"
                           href="/registration">Register</a>
                    </th:block>
                </div>
            </div>
        </div>
    </nav>
</header>
</html>