<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header(title = ${pageTitle},
includeHeaderFragment = ${{'about-header'}})"></head>

<body>
<nav th:replace="fragments/navigation :: navigation"></nav>

<div class="page-content">
    <h1>Food & Friends is how People cook together!</h1>
    <h3>we want to build a community where it is easy to to cook together! </h3>

    <p>
        For my semester project I have decided to write an exchange and communication platform website
        around the topic of food and recipes. Since I have already gained a foothold in the field of
        fullstack development professionally through a part-time job and internship,
        I would like to continue my education in this area in the future.
        For the semester project I wanted to educate myself personally and therefore I
        chose technologies with which I had no previous points of contact.
        This Platform is written in Kotlin + Spring Boot, which i had no previous knowledge of.
        You can checkout the source code on
        <a href="https://github.com/JonasLeonhard/spring_mvc_ohm" target="_blank">Github</a>
    </p>
</div>

<footer th:replace="fragments/footer :: footer()"></footer>
</body>
</html>