<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header(title = ${pageTitle},
includeHeaderFragment = ${{'buyList-header'}})"></head>

<body>
<nav th:replace="fragments/navigation :: navigation"></nav>

<div class="page-content">

    <div th:if="${#lists.size(authenticated.buyList) == 0}" class="buyList-card">
        Add recipes to your buylist, to view them here
    </div>

    <div th:each="listItem, listItemIter : ${authenticated.buyList}" class="buyList-card">
        <form th:action="${'/recipe/' + listItem.recipe.id + '/toList'}"
              method="post"
              class="recipe-form">
            <div id="buyList-copy-wrapper">
                <div class="form-annotation">
                    <div>[[${listItemIter.index + 1}]]</div>
                    <span class="form-annotation-txt-controls">
                    <span class="recipe-title">[[${listItem.recipe.title}]]</span>
                    <span class="recipe-form-controls">
                        <Button type="submit" value="/user/buyList" name="redirectTo">Remove</Button>
                        <Button type="submit"
                                th:formaction="${'/recipe/' + listItem.recipe.id + '/saveBuyList'}">Save</Button>
                    </span>
                </span>
                </div>
            </div>

            <div>
                <ul>
                    <li th:each="recipeIngredient, ingredientIter : ${listItem.recipe.recipeIngredients}"
                        class="recipe-ingredient">
                        <label th:for="${'recipe-' + listItem.recipe.id + '-ingredient-' + recipeIngredient.ingredient.id}">
                            <span class="index">[[${listItemIter.index + 1}]].[[${ingredientIter.index}]]:</span>
                            <span class="amount">[[${recipeIngredient.amount}]]</span>
                            <span class="unit">[[${recipeIngredient.ingredient.unit}]]</span>
                            <span class="name">[[${recipeIngredient.ingredient.name}]]:</span>
                        </label>
                        <input type="checkbox"
                               th:id="${'recipe-' + listItem.recipe.id + '-ingredient-' + recipeIngredient.ingredient.id}"
                               name="ingredientId"
                               th:value="${recipeIngredient.ingredient.id}"
                               th:checked="${#lists.size(listItem.boughtRecipeIngredients.?[ingredient.id == __${recipeIngredient.ingredient.id}__]) > 0}">
                    </li>
                </ul>
            </div>
        </form>
    </div>
</div>

<footer th:replace="fragments/footer :: footer()"></footer>
<!-- Scripts -->
<script type="text/javascript" th:src="@{/js/buyList.js}"></script>
</body>
</html>