<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header(title = ${pageTitle}, includeHeaderFragment = ${'calendar-header'})"></head>

<body>
<nav th:replace="fragments/navigation :: navigation"></nav>

<div class="page-divided">
    <div class="left-side">
        <div class="calendar">
            <div class="calendar-title-mm-yyyy">
                [[${selectedDate.month}]] [[${selectedDate.year}]]
                <form th:action="@{/calendar}">
                    <button type="submit"
                            title="Month Backwards"
                            name="selectedDate"
                            th:value="${selectedDate.minusMonths(1)}"><
                    </button>
                    <button type="submit"
                            name="selectedDate"
                            title="Month Forwards"
                            th:value="${selectedDate.plusMonths(1)}">>
                    </button>
                </form>
            </div>
            <div class="calendar-dates">
                <div class="calendar-title" title="Monday">M</div>
                <div class="calendar-title" title="Tuesday">T</div>
                <div class="calendar-title" title="Wednesday">W</div>
                <div class="calendar-title" title="Thursday">T</div>
                <div class="calendar-title" title="Friday">F</div>
                <div class="calendar-title" title="Saturday">S</div>
                <div class="calendar-title" title="Sunday">S</div>
            </div>
            <form class="calendar-dates">
                <button th:each="calendarDate : ${calendarDates}"
                        th:class="${
                     calendarDate.dayOfWeek +
                     (calendarDate == selectedDate ? ' selected' : '') +
                     (calendarDate.month != selectedDate.month ? ' date-out-of-range' : '') +
                     (calendarDate == todayDate ? ' calendar-date-is-today' : '') +
                     ' calendar-date' }"
                        type="submit"
                        name="selectedDate"
                        th:value="${calendarDate}">
                    [[${calendarDate.dayOfMonth}]]
                </button>
            </form>
        </div>
    </div>

    <div class="right-side timeline">
        <div class="timeline-dates timeline-columns">
            <div th:each="calendarTimeline : ${calendarTimelines}"
                 th:class="${'timeline-date ' + (calendarTimeline.localDate != null ? calendarTimeline.localDate.dayOfWeek : 'ANNOTATION')}">

                <th:block th:if="${calendarTimeline.localDate != null && calendarTimeline.timelineEvents != null}">
                    <div th:class="${'timeline-title' + (calendarTimeline.localDate == selectedDate ? ' timeline-title-selected' : '')}">
                        <span>[[${calendarTimeline.localDate.dayOfWeek}]]</span>
                        <h2>[[${calendarTimeline.localDate.dayOfMonth}]]</h2>
                    </div>

                    <form class="timeline-row-item"
                          th:each="event : ${calendarTimeline.timelineEvents}"
                          th:action="@{/user/invitation/{id}(id=${event.invitation.id})}"
                          th:style="${event.gridRowStart != null && event.gridRowEnd != null ? ('grid-row-start: ' + (event.gridRowStart + 2) + '; grid-row-end: ' + (event.gridRowEnd + 3)) : ''}">
                        <button class="timeline-row-item__inner"
                                type="submit">
                            <span>([[${event.invitation.title}]])</span></br>
                            <span>[[${calendarService.getTimelineAnnotationFrom(event.gridRowStart)}]] to [[${calendarService.getTimelineAnnotationFrom(event.gridRowEnd)}]]</span>
                        </button>
                        <div th:class="${'timeline-row-item__hover-info ' + (calendarTimeline.localDate != null ? calendarTimeline.localDate.dayOfWeek : '')}">
                            <div class="timeline-row-item__hover-mouse-buffer">
                                <span>([[${event.invitation.title}]])</span></br>
                                <span>[[${calendarService.getTimelineAnnotationFrom(event.gridRowStart)}]] to [[${calendarService.getTimelineAnnotationFrom(event.gridRowEnd)}]]</span>
                                <div>
                                    <button type="submit"
                                            th:formaction="@{/user/invitation/{id}(id=${event.invitation.id})}">
                                        Show
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </th:block>

                <th:block th:if="${calendarTimeline.annotations != null}">
                    <div class="timeline-title">
                        <span>Time</span>
                        <h2></h2>
                    </div>

                    <div th:each="annotation : ${calendarTimeline.annotations}"
                         th:class="${'timeline-row-annotation ' + (annotation.display == true ? 'display' : 'hidden')}">
                        <span>([[${annotation.annotation}]])</span></br>
                    </div>
                </th:block>
            </div>
        </div>
    </div>
</div>
</body>
</html>