<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header(title = ${pageTitle},
includeHeaderFragment = ${{'freezer-header'}})"></head>

<body>
<nav th:replace="fragments/navigation :: navigation"></nav>
<div class="page-content">
    <section class="card">
        <div class="form-annotation">
            <div>1</div>
            <span>
                Ingredients
            </span>
        </div>
        <div class="freezer__forms">
            <form th:action="@{/user/freezer}" method="get" class="multiselect-form">
                <label for="freezerFriendList">Friends</label>
                <select id="freezerFriendList" class="multiselect" name="friends"
                        th:disabled="${userFriendships.isEmpty()}">
                    <option value="" disabled selected>
                        [[${userFriendships.isEmpty() ? 'You have no Friends yet' : 'Select Friends'}]]
                    </option>

                    <option class="friend-option" th:if="${!userFriendships.isEmpty()}"
                            th:each="friendship : ${userFriendships}"
                            th:value="${friendship.requested_by.username != authenticated.username ? friendship.requested_by.username : friendship.request_to.username}">
                        [[${friendship.requested_by.username != authenticated.username ?
                        friendship.requested_by.username :
                        friendship.request_to.username}]]
                    </option>
                </select>
                <button type="submit" class="next-to-input" th:disabled="${userFriendships.isEmpty()}">Add</button>
                <div class="multiselect-selected"><!-- Content inserted by multiselect.js --></div>
            </form>

            <form th:action="@{/user/freezer}"
                  method="post"
                  class="freezer__ingredient-form">
                <div>
                    <label for="amount">
                        Amount:
                    </label>
                    <input type="number"
                           id="amount"
                           name="amount"
                           value="1"
                           placeholder="amount..."
                           required>
                </div>
                <div>
                    <label for="ingredientName">
                        Ingredient Name:
                    </label>
                    <input list="ingredientNames"
                           name="ingredientName"
                           id="ingredientName"
                           required
                           placeholder="ingredient...">
                    <button type="submit" class="next-to-input">Add to Freezer</button>
                    <input th:each="queryFriend : ${queryFriends}"
                           th:value="${queryFriend}"
                           type="hidden"
                           name="friends">
                    <datalist id="ingredientNames">
                        <option th:each="ingredient : ${ingredients}" th:value="${ingredient.name}"></option>
                    </datalist>
                </div>
            </form>
        </div>

        <div th:each="freezerItem, iter : ${freezer}" class="freezer-item">
            <div id="ingredients-container">
                <div class="ingredient">
                    <div class="ingredient-img-wrapper">
                        <img class="ingredient-img"
                             th:src="${freezerItem.ingredient.picture != null ? '/resource/' + freezerItem.ingredient.picture.id : (freezerItem.ingredient.imageUrl != null ? freezerItem.ingredient.imageUrl : '/unsecured_files/leaf.png')}">
                    </div>
                    <div>
                        <div class="ingredient-stats">
                            <div class="ingredient-user">
                                <a th:if="${freezerItem.user != null}"
                                   th:href="@{/user/profile/{name}(name=${freezerItem.user.username})}">
                                    [[${freezerItem.user.username}]]
                                </a>
                            </div>
                            <div>
                                [[${freezerItem.amount}]]
                                [[${freezerItem.ingredient.unit}]]
                                [[${freezerItem.ingredient.name}]]
                            </div>
                        </div>

                        <p class="ingredient-meta" th:if="${freezerItem.ingredient.meta != null}">
                            [[${freezerItem.ingredient.meta}]]
                        <p>
                    </div>
                </div>
            </div>
            <form th:action="@{/user/freezer/update}" method="post" th:if="${authenticated.id == freezerItem.user.id}">
                <input th:each="queryFriend : ${queryFriends}" type="hidden" name="friends" th:value="${queryFriend}">
                <input type="hidden" name="freezerIngredientId" th:value="${freezerItem.ingredient.id}">
                <button type="submit">+Add</button>
                <button type="submit" name="subtract" value="true" th:disabled="${freezerItem.amount == 0}">-Sub
                </button>
                <button type="submit" name="delete" value="true">Delete</button>
            </form>
        </div>
    </section>

    <section class="card">
        <div class="form-annotation">
            <div>2</div>
            <span>
                Suggestions
            </span>
        </div>

        <div th:if="${#lists.size(freezerSuggestions) == 0}" class="freezer-suggestion">
            We found no recipes that match your ingredients. Add more ingredients to get suggestions
        </div>
        <div th:if="${#lists.size(freezerSuggestions) > 0}" class="freezer-suggestion"
             th:each="recipeSuggestion : ${freezerSuggestions}">
            <div class="recipe-card recipe-id-[[${recipe.id}]]">
                <div class="recipe-card-image-container">
                    <div class="rating">
                        <span>[[${#lists.size(recipeSuggestion.recipe.userLikes)}]] 👍</span>
                    </div>
                    <img class="recipe-card-img"
                         alt="recipe image"
                         th:src="${recipeSuggestion.recipe.picture != null ? '/resource/' + recipeSuggestion.recipe.picture.id : (recipeSuggestion.recipe.recipeImageUrl != null ? recipeSuggestion.recipe.recipeImageUrl : '/unsecured_files/logo_placeholder.png')}">
                </div>
                <div class="recipe-card-info">

                    <span class="recipe-card-info-title">[[${recipeSuggestion.recipe.title}]] with [[${recipeSuggestion.ingredientMatchingCount}]] matching ingredients:</span>

                    <div>
                        <span th:text="${recipeSuggestion.recipe.summary}">Summary</span>
                        <a th:href="'/recipe/'+ ${recipeSuggestion.recipe.id}">Read
                            more ...</a>
                    </div>

                    <div class="recipe-card-info-flex">
                        <span class="freezer__ready-in-wrapper">Ready in [[${recipeSuggestion.recipe.readyInMinutes}]] Minutes ⏱️</span>
                    </div>

                    <div class="freezer__recipe-card-buttons">
                        <a th:href="'/recipe/'+ ${recipeSuggestion.recipe.id}">
                            <button>Go to recipe</button>
                        </a>
                        <form th:action="@{/user/invite}" method="get"
                              class="invite-friends-form">
                            <input type="hidden" name="recipeId" th:value="${recipeSuggestion.recipe.id}">
                            <input th:each="queryFriend : ${queryFriends}" type="hidden" name="friends"
                                   th:value="${queryFriend}">
                            <button type="submit">Invite Friends</button>
                        </form>
                    </div>
                </div>
            </div>


            <div class="suggestions-ingredients">
                <th:block
                        th:each="recipeIngredient: ${recipeSuggestion.recipe.recipeIngredients}">
                    <div th:each="freezerItem : ${freezer.?[ingredient.id == __${recipeIngredient.ingredient.id}__]}"
                         th:class="${freezerItem.amount < recipeIngredient.amount ? 'not-enough' : 'enough'}">
                        <div class="ingredient">
                            <div class="ingredient-img-wrapper">
                                <img class="ingredient-img"
                                     th:src="${recipeIngredient.ingredient.picture != null ? '/resource/' + recipeIngredient.ingredient.picture.id : (recipeIngredient.ingredient.imageUrl != null ? recipeIngredient.ingredient.imageUrl : '/unsecured_files/leaf.png')}">
                            </div>
                            <div>
                                <div class="ingredient-stats">
                                    <div class="ingredient-user">
                                        <a th:if="${freezerItem.user != null}"
                                           th:href="@{/user/profile/{name}(name=${freezerItem.user.username})}">
                                            [[${freezerItem.user.username}]]
                                        </a>
                                    </div>
                                    <div>
                                        <span class="ingredient-amount">[[${freezerItem.amount}]]</span>
                                        [[${freezerItem.ingredient.unit}]] of
                                        [[${recipeIngredient.amount}]]
                                        [[${freezerItem.ingredient.name}]]
                                    </div>
                                </div>

                                <p class="ingredient-meta" th:if="${freezerItem.ingredient.meta != null}">
                                    [[${freezerItem.ingredient.meta}]]
                                <p>
                            </div>
                        </div>
                    </div>

                    <div th:if="${freezer.?[ingredient.id == __${recipeIngredient.ingredient.id}__].isEmpty()}"
                         class="missing">
                        <div class="ingredient">
                            <div class="ingredient-img-wrapper">
                                <img class="ingredient-img"
                                     th:src="${recipeIngredient.ingredient.picture != null ? '/resource/' + recipeIngredient.ingredient.picture.id : (recipeIngredient.ingredient.imageUrl != null ? recipeIngredient.ingredient.imageUrl : '/unsecured_files/leaf.png')}">
                            </div>
                            <div>
                                <div class="ingredient-stats">
                                    <div>
                                        <span class="ingredient-amount">0</span> of
                                        [[${recipeIngredient.amount}]]
                                        [[${recipeIngredient.ingredient.name}]]
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </th:block>
            </div>
        </div>
    </section>
</div>

<footer th:replace="fragments/footer :: footer()"></footer>
<!-- Scripts -->
<script type="text/javascript" th:src="@{/js/multiselect.js}"></script>
</body>
</html>