<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header(title = ${pageTitle},
includeHeaderFragment = ${'freezer-header'})"></head>

<body>
<nav th:replace="fragments/navigation :: navigation"></nav>
<div class="page-content">
    <section class="card">
        <form th:action="@{/user/freezer/update}" method="post" th:each="freezerItem : ${freezer}">
            <span>[[${freezerItem.user.name}]]: [[${freezerItem.ingredient.name}]] -> amount: [[${freezerItem.amount}]]</span>

            <input type="hidden" name="freezerIngredientId" th:value="${freezerItem.ingredient.id}">
            <button type="submit">+Add</button>
            <button type="submit" name="subtract" value="true" th:disabled="${freezerItem.amount == 0}">-Sub
            </button>
            <button type="submit" name="delete" value="true">Delete</button>
        </form>

        <form th:action="@{/user/freezer}" method="post">
            <label>
                Amount:
                <input type="number" id="amount" name="amount">
            </label>

            <label>
                Ingredient Name:
                <input list="ingredientNames" name="ingredientName" id="ingredientName">
                <datalist id="ingredientNames">
                    <option th:each="ingredient : ${ingredients}" th:value="${ingredient.name}"></option>
                </datalist>
            </label>

            <button type="submit">Add to Freezer</button>
        </form>
    </section>

    <section class="card">
        Freezer Suggestions:
        <div class="freezer-suggestion" th:each="recipeSuggestion : ${freezerSuggestions}">
            [[${recipeSuggestion.recipe.title}]] with [[${recipeSuggestion.ingredientMatchingCount}]] matching
            ingredients
            <div class="suggestions-ingredients">
                <div class="suggestions-ingredient"
                     th:each="recipeIngredient: ${recipeSuggestion.recipe.recipeIngredients}">
                    <span th:each="freezerItem : ${freezer.?[ingredient.id == __${recipeIngredient.ingredient.id}__]}"
                          th:class="${freezerItem.amount < recipeIngredient.amount ? 'not-enough' : 'enough'}">
                        ([[${recipeIngredient.ingredient.name}]]) -> [[${freezerItem.amount}]] of
                        [[${recipeIngredient.amount}]]
                    </span>

                    <span th:if="${freezer.?[ingredient.id == __${recipeIngredient.ingredient.id}__].isEmpty()}"
                          class="missing">
                        ([[${recipeIngredient.ingredient.name}]]) -> 0 of [[${recipeIngredient.amount}]]
                    </span>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>