<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header(title = ${pageTitle},
includeHeaderFragment = ${'invitation-header'})"></head>

<body>
<nav th:replace="fragments/navigation :: navigation"></nav>
<div class="page-content">
    <h1>Invitation page:</h1>

    [[${invitation.message}]]</br>

    // this page should also be the edit invitation page in the calendar<br/>
    // TODO: comment section
    // TODO: delete

    // TODO: Edit
    // if user created recipe: add edit button:
    // -> goes to invite page with invitation id specified
    // has invitationForm prefilled with invitationParams
    <form th:action="@{/user/invite}">
        <button type="submit" name="invitationId" th:value="${invitation.id}">Edit</button>
    </form>


    <div>
        comment section:
        <div>
            <div th:each="comment, iter : ${invitationComments}">
                [[${comment.message}]] by user: [[${comment.user.name}]]
            </div>
        </div>
        <form th:action="@{/user/invitation/{id}/comment(id=${invitation.id})}" method="post">
            <label>
                Comment:
                <textarea rows="4" name="message" th:disabled="${authenticated == null}"
                          th:placeholder="${(authenticated == null ? 'Login to comment on ' : 'Comment on ')  + 'invitation'}"></textarea>
            </label>
            <button type="submit" th:title="${authenticated == null ? 'Login to Comment' : 'Submit Comment'}"
                    th:disabled="${authenticated == null}">Comment
            </button>
        </form>
    </div>
</div>

<!--&lt;!&ndash; Scripts &ndash;&gt;-->
<!--<script type="text/javascript" th:src="@{/js/multiselect.js}"></script>-->
</body>
</html>