<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header(title = ${pageTitle},
includeHeaderFragment = ${{'invitation-header'}})"></head>

<body>
<nav th:replace="fragments/navigation :: navigation"></nav>
<div class="page-content">
    <section class="card">
        <div class="form-annotation">
            <div>1</div>
            <span class="form-annotation-txt-controls">
                <form th:action="@{/user/invite}" th:if="${authenticated.id == invitation.user.id}">
                    <button type="submit" name="invitationId" th:value="${invitation.id}">Edit</button>
                </form>
                <span>[[${invitation.title}]]</span>
            </span>
        </div>

        <div class="invitation__details">
            <div>
                <span>Date</span>
                <span>[[${dateFormatter.format(invitation.date)}]] 📅</span>
            </div>
            <div>
                <span>Start</span>
                <span>[[${calendarService.getTimelineAnnotationFrom(invitation.gridRowStart)}]] ⏱️</span>
            </div>
            <div>
                <span>End</span>
                <span>[[${calendarService.getTimelineAnnotationFrom(invitation.gridRowEnd)}]] ⏱️</span>
            </div>
        </div>

        <span class="invitation__message">
            [[${invitation.message}]]
        </span>

        <div class="form-annotation">
            <div>2</div>
            <span>
                    Bring List ✔️
            </span>
        </div>

        <form th:action="@{/user/invitation/{id}/item(id=${invitation.id})}"
              method="post" class="invitation-items__wrapper">
            Select an ingredient to bring to the invitation, or bring some other item
            <input type="hidden" name="recipeId" th:value="${invitation.recipe.id}"/>

            <div class="invitation-items__flex">
                <th:block th:each="recipeIngredient : ${invitation.recipe.recipeIngredients}">
                    <div class="invitation-items">
                        <button type="submit"
                                id="ingredientId"
                                name="ingredientId"
                                th:value="${recipeIngredient.ingredient.id}">
                            Bring [[${recipeIngredient.amount}]] x [[${recipeIngredient.ingredient.name}]]
                        </button>
                        <div th:with="recipeIngredientUser=${invitationService.getUserByRecipeIngredient(recipeIngredient, userInvitationItems)}">
                            <div th:if="${recipeIngredientUser != null}"
                                 class="invitation-items__profile-image-container">
                                <img class="invitation-items__profile-image"
                                     alt="profile picture"
                                     th:title="${recipeIngredientUser.username} + '\'s Profilepicture'"
                                     th:src="${recipeIngredientUser.picture != null ? '/resource/' + recipeIngredientUser.picture.id : '/unsecured_files/placeholder_profile_image.png'}"/>
                            </div>
                            [[${recipeIngredientUser != null ? recipeIngredientUser.username + ' brings this' : ''}]]
                        </div>
                    </div>
                </th:block>

                <div class="invitation-items" th:each="invitationItem : ${userInvitationItems}"
                     th:if="${invitationItem.item != null}">
                    <div class="invitation-items__profile-image-container">
                        <img class="invitation-items__profile-image"
                             alt="profile picture"
                             th:title="${invitationItem.user.username} + '\'s Profilepicture'"
                             th:src="${invitationItem.user.picture != null ? '/resource/' + invitationItem.user.picture.id : '/unsecured_files/placeholder_profile_image.png'}"/>
                    </div>
                    [[${invitationItem.user.username}]] brings [[${invitationItem.item}]]
                </div>
            </div>


            <div class="input-wrapper">
                <label for="otherItem" class="control-label">Other Item</label>
                <input name="otherItem" id="otherItem" placeholder="other..."/>
            </div>
            <button type="Submit" class="submit-btn">Bring Other Item</button>
        </form>

        <div class="form-annotation">
            <div>3</div>
            <span>
                    Comments
            </span>
        </div>

        <div>
            <div class="comment__overview">
                [[${#lists.size(invitationComments)}]] [[${#lists.size(invitationComments) > 1 ? 'Comments' :
                'Comment'}]]
            </div>
            <form th:action="@{/user/invitation/{id}/comment(id=${invitation.id})}"
                  method="post"
                  id="comments">
                <label>
                <textarea class="comment__user-textarea"
                          name="message"
                          th:disabled="${authenticated == null}"
                          th:placeholder="${(authenticated == null ? 'Login to comment on ' : 'Comment on ')  + invitation.title}"></textarea>
                </label>
                <button type="submit"
                        class="comment__user-button"
                        th:title="${authenticated == null ? 'Login to public comment' : 'Submit public comment'}"
                        th:disabled="${authenticated == null}">Comment 💬
                </button>
            </form>

            <div>
                <div th:each="comment, iter : ${invitationComments}" class="comment__container">
                    <div class="comment__profile-image-container">
                        <img class="profile-image"
                             alt="profile picture"
                             th:title="${comment.user.username} + '\'s Profilepicture'"
                             th:src="${comment.user.picture != null ? '/resource/' + comment.user.picture.id : '/unsecured_files/placeholder_profile_image.png'}"/>
                    </div>
                    <div class="comment__content">
                        <div class="comment__header">
                            <a th:href="@{/user/profile/{username}(username=${comment.user.username})}">
                                [[${comment.user.name}]]
                            </a>
                            <span>
                            at [[${dateFormatter.format(comment.createdAt)}]]
                        </span>
                        </div>
                        <div class="comment__message">
                            [[${comment.message}]]
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<footer th:replace="fragments/footer :: footer()"></footer>
</body>
</html>