<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<header th:replace="fragments/header :: header(title = ${pageTitle}, includeHeaderFragment = ${'login-header'})"></header>

<body>
<nav th:replace="fragments/navigation :: navigation"></nav>

<div class="page-content">
    <div class="login-container">
        <div class="login-header">
            Login
        </div>
        <div class="inner-container">
            <form th:action="@{/login}" th:object="${user}" method="post">
                <div th:if="${param.logout}" class="warning top-message">
                    You are succesfully logged out
                </div>
                <div th:if="${param.hasRegistered}" class="success top-message">
                    You have succesfully registered, you can now login as
                </div>

                <div class="input-wrapper">
                    <input th:field="*{username}"
                           placeholder=" "/>
                    <label th:for="*{username}" class="control-label">Username</label>
                </div>
                <span th:errors="*{username}" class="error"></span>

                <div class="input-wrapper">
                    <input th:field="*{password}"
                           type="password" placeholder=" "/>
                    <label th:for="*{password}" class="control-label">Password</label>
                </div>
                <span th:errors="*{password}" class="error"></span>

                <span th:if="${param.error}" class="error">
                    Login Error, try something new!
                </span>

                <div class="submit-footer">
                    <button type="submit" class="btn btn-success">Login</button>
                    <a href="/" th:href="@{/registration}" class="register-link">Register here</a>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>