<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header(title = ${pageTitle},
includeHeaderFragment = ${{'privacy-header'}})"></head>

<body>
<nav th:replace="fragments/navigation :: navigation"></nav>

<div class="page-content">
    <h1>Privacy Policy</h1>
    <p>
        This page is used to inform website visitors regarding our policies with the
        collection, use, and disclosure of Personal Information if anyone decided to use
        our Service, the jonasleonhard.de website.
    </p>

    <p>
        If you choose to use our Service, then you agree to the collection and use
        of information in relation with this policy. The Personal Information that
        we collect are used for providing and improving the Service. We will not
        use or share your information with anyone except as described in this Privacy Policy.
    </p>

    <p>
        You can check out our terms and conditions at <a href="/terms">terms & conditions</a>
    </p>

    <p>
        For a better experience while using our Service, we may require you to provide us with
        certain personally identifiable information, including but not limited to
        your name, email, profile picture, uploaded files and recipes, liked and favorited recipes,
        your buylist, notifications, items in your freezer, search terms, comments,
        invitations and friendships.
        The information that we collect will be used to contact or identify you.
    </p>

    <p>
        We want to inform you that whenever you visit our Service, we collect information that your browser sends to us
        that is called Log Data. This Log Data may include information such as your computer’s Internet Protocol ("IP")
        address, browser version, pages of our Service that you visit, the time and date of your visit, the time spent
        on those pages, and other statistics.
    </p>

    <h1>Cookies</h1>

    <p>
        Cookies are files with small amount of data that is commonly used as an anonymous
        unique identifier. These are sent to your browser from the website that you visit
        and are stored on your computer’s hard drive.
    </p>

    <p>
        Our website requires the use of these "cookies" to identify logged in users.
        You have the option to accept or refuse cookies that are not required to run the service.
        If you choose to refuse our cookies, you may not be able to use some portions of our Service.
    </p>

    <h1>Service Providers</h1>

    <p>
        We may employ third-party companies and individuals due to the following reasons:
        <br>
        To facilitate our Service;
        To provide the Service on our behalf;
        To perform Service-related services; or
        To assist us in analyzing how our Service is used.
    </p>

    <p>
        This website uses the spoonacular api to get more recipe options that are not created
        by users from this website. Your personal data will not be exposed to the spoonacular service.
    </p>

    <p>
        Our Service may contain links to other sites.
        If you click on a third-party link, you will be directed to that site.
        Note that these external sites are not operated by us.
        Therefore, we strongly advise you to review the Privacy Policy of these websites.
        We have no control over, and assume no responsibility for the content,
        privacy policies, or practices of any third-party sites or services.
    </p>

    If you have any questions or suggestions about our Privacy Policy,
    do not hesitate to <a href="/contact">contact us.</a>
</div>

<footer th:replace="fragments/footer :: footer()"></footer>
</body>
</html>