<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header(
title = ${pageTitle},
includeHeaderFragment = ${{'profile-header'}},
includeIonicons = ${true})"></head>

<body>
<nav th:replace="fragments/navigation :: navigation"></nav>

<div class="page-content full">
    <th:block th:if="${profile != null}">
        <div class="profile-info-wrapper">
            <div class="sidebar-left">
                <img class="profile-image"
                     alt="profile picture"
                     th:title="${profile.username} + '\'s Profilepicture'"
                     th:src="${profile.picture != null ? '/resource/' + profile.picture.id : '/unsecured_files/placeholder_profile_image.png'}"/>

                <div class="profile-info">
                    <div class="p-info-wrapper">
                        <div>
                            <span>Username:</span>
                            <span>[[${profile.username}]]</span>
                        </div>
                        <div>
                            <span>Registered since:</span>
                            <span>[[${profile.createdAt}]]</span>
                        </div>
                        <div>
                            <span>Updated at:</span>
                            <span>[[${profile.updatedAt}]]</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sidebar-content-right">
                <form class="update-profile-form profile-card" th:action="@{/login}" th:object="${userForm}"
                      method="post"
                      th:if="${authenticated != null && authenticated.username == profile.username}">
                    <div class="input-wrapper">
                        <input th:field="*{username}"
                               placeholder=" "/>
                        <label th:for="*{username}" class="control-label">New Username</label>
                    </div>

                    <div class="input-wrapper">
                        <input th:field="*{password}"
                               placeholder=" "
                               type="password"/>
                        <label th:for="*{username}" class="control-label">New Password</label>
                    </div>

                    <div class="input-wrapper">
                        <input th:field="*{passwordConfirm}"
                               placeholder=" "
                               type="password"/>
                        <label th:for="*{passwordConfirm}" class="control-label">Commit Password</label>
                    </div>

                    <button type="submit" class="btn btn-success">Update Profile</button>
                </form>

                <div th:if="${authenticated != null && authenticated.username != profile.username}">
                    <div th:if="${friendship != null}" class="profile-card">
                        <th:block th:if="${friendship.accepted == true}">
                            you are friends with this profile
                            <form th:action="@{/user/friendship/cancel}" method="post">
                                <button type="submit" id="userId" name="userId"
                                        th:value="${profile.id}">
                                    Cancel Friendship
                                </button>
                            </form>
                        </th:block>
                        <th:block th:if="${friendship.accepted == false}">
                            <th:block th:if="${friendship.request_to.username == authenticated.username}">
                                Do you want to accept the friendrequest of [[${friendship.requested_by.username}]]
                                <form th:action="@{/user/friendship/accept}" method="post">
                                    <button type="submit" id="userId" name="userId"
                                            th:value="${profile.id}">
                                        Accept Friendrequest
                                    </button>
                                </form>
                            </th:block>
                            <th:block th:if="${friendship.request_to.username != authenticated.username}">
                                Friendship to:
                                [[${friendship.request_to.username}]], Status: [[${friendship.accepted ? 'accepted' :
                                'pending'}]]
                                <form th:action="@{/user/friendship/cancel}" method="post">
                                    <button type="submit" id="userId" name="userId"
                                            th:value="${profile.id}">
                                        Cancel Friendship
                                    </button>
                                </form>
                            </th:block>
                        </th:block>
                    </div>
                    <div class="profile-card" th:if="${friendship == null}">
                        <form class="friend-request-form" th:action="@{/user/friendship}" method="post">
                            <button type="submit" class="btn btn-success" id="userId" name="userId"
                                    th:value="${profile.id}">Friend Request
                            </button>
                        </form>
                    </div>
                </div>

                <div th:if="${authenticated != null && #sets.size(authenticated.friendshipsFromThisUser) > 0 && authenticated.username == profile.username}"
                     class="friendrequest-card profile-card">
                    <ul>
                        <th:block th:each="friendrequest : ${authenticated.friendshipsFromThisUser}">
                            <li th:if="${friendrequest.accepted == false}">Pending FriendRequest to:
                                [[${friendrequest.request_to.username}]]
                            </li>
                        </th:block>
                    </ul>
                </div>

                <div class="profile-card">
                    <div class="tabs">
                        <input type="radio" name="tabs" id="tabone" th:checked="${true}">
                        <label for="tabone">
                            <ion-icon name="star"></ion-icon>
                            Favorite Recipes
                        </label>
                        <div class="tab">
                            <div class="recipe-grid">
                                <th:block th:each="favoriteRecipe: ${profile.favoriteRecipes}">
                                    <div class="recipe-card-wrapper">
                                        <div class="recipe-card-image-container">
                                            <div class="rating">
                                                <span th:text="${favoriteRecipe.likes}">likes</span>
                                            </div>
                                            <a th:href="'/recipe/'+ ${favoriteRecipe.id}">
                                                <img class="recipe-card-img"
                                                     th:src="${favoriteRecipe.recipeImageUrl != null ? favoriteRecipe.recipeImageUrl : '/unsecured_files/logo_placeholder.png'}">
                                            </a>
                                        </div>
                                        <div class="recipe-card-info">
                                            <a th:href="'/recipe/'+ ${favoriteRecipe.id}">
                                                <span class="recipe-card-info-title">[[${favoriteRecipe.title}]]</span>
                                            </a>

                                            <div>
                                        <span>
                                            Servings: [[${favoriteRecipe.servings}]]
                                        </span>
                                                <a th:href="'/recipe/'+ ${favoriteRecipe.id}">
                                                    Read more ...</a>
                                            </div>

                                            <div class="recipe-card-info-flex">
                                                <span>Ready in [[${favoriteRecipe.readyInMinutes}]] Minutes</span>
                                                <span>Likes: 0</span>
                                            </div>

                                            <form th:action="@{/recipe/{id}(id=${favoriteRecipe.id})}">
                                                <button type="submit">
                                                    Start cooking
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </th:block>
                            </div>
                        </div>
                        <input type="radio" name="tabs" id="tabtwo" th:checked="${false}">
                        <label for="tabtwo">
                            <ion-icon name="arrow-up-circle"></ion-icon>
                            Liked Recipes
                        </label>
                        <div class="tab">
                            <div class="recipe-grid">
                                <th:block th:each="userLikedRecipe: ${profile.likedRecipes}">
                                    <div class="recipe-card-wrapper">
                                        <div class="recipe-card-image-container">
                                            <div class="rating">
                                                <span th:text="${userLikedRecipe.recipe.likes}">likes</span>
                                            </div>
                                            <a th:href="'/recipe/'+ ${userLikedRecipe.recipe.id}">
                                                <img class="recipe-card-img"
                                                     th:src="${userLikedRecipe.recipe.recipeImageUrl != null ? userLikedRecipe.recipe.recipeImageUrl : '/unsecured_files/logo_placeholder.png'}">
                                            </a>
                                        </div>
                                        <div class="recipe-card-info">
                                            <a th:href="'/recipe/'+ ${userLikedRecipe.recipe.id}">
                                                <span class="recipe-card-info-title">[[${userLikedRecipe.recipe.title}]]</span>
                                            </a>

                                            <div>
                                        <span>
                                            Servings: [[${userLikedRecipe.recipe.servings}]]
                                        </span>
                                                <a th:href="'/recipe/'+ ${userLikedRecipe.recipe.id}">
                                                    Read more ...</a>
                                            </div>

                                            <div class="recipe-card-info-flex">
                                                <span>Ready in [[${userLikedRecipe.recipe.readyInMinutes}]] Minutes</span>
                                                <span>Likes: 0</span>
                                            </div>

                                            <form th:action="@{/recipe/{id}(id=${userLikedRecipe.recipe.id})}">
                                                <button type="submit">
                                                    Start cooking
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </th:block>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="userFriendships profile-card"
                     th:if="${authenticated != null && authenticated.username == profile.username}">
                    Friendships:
                    <form th:action="@{/user/friendship/cancel}" th:each="friendship : ${userFriendships}"
                          method="post">
                        [[${friendship.requested_by.username != authenticated.username ?
                        friendship.requested_by.username : friendship.request_to.username}]]
                        <input type="hidden" name="stayOnPage" value="true">
                        <button name="userId"
                                th:value="${friendship.requested_by.id != authenticated.id ? friendship.requested_by.id : friendship.request_to.id}">
                            Cancel Friendship
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </th:block>

    <th:block th:unless="${profile != null}">
      <span>
         This Profile
         <span th:if="${userNotFound}">([[${userNotFound}]])</span>
         could not be found
      </span>
    </th:block>
</div>

<footer th:replace="fragments/footer :: footer()"></footer>
</body>
</html>