<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header(title = ${pageTitle},
includeHeaderFragment = ${'recipe-header'},
includeIonicons = ${true})"></head>

<body>
<nav th:replace="fragments/navigation :: navigation"></nav>
<div class="page-content">
    <div class="recipe-card recipe-id-[[${recipe.id}]]">
        <div class="recipe-card-image-container">
            <div class="rating">
                <span th:text="${recipe.likes}">likes</span>
            </div>
            <img class="recipe-card-img"
                 th:src="${recipe.recipeImageUrl != null ? recipe.recipeImageUrl : '/unsecured_files/logo_placeholder.png'}">
        </div>
        <div class="recipe-card-info">

            <span class="recipe-card-info-title">[[${recipe.title}]]</span>

            <div>
                <span th:utext="${escapedRecipeSummary}">Escaped recipe summary in unsafe text</span>
            </div>

            <div class="recipe-card-info-flex">
                <span>Ready in [[${recipe.readyInMinutes}]] Minutes</span>
                <span>Likes: 0</span>
                <span>isSpoonacularRecipe: [[${recipe.spoonacularId}]]</span>
            </div>
        </div>
    </div>

    <div class="sub-recipe-card">
        servings: <span th:text="${recipe.servings}">servings</span> <br>
        pricePerServing: <span th:text="${recipe.pricePerServing}">pricePerServing</span> <br>
        glutenFree: <span th:text="${recipe.glutenFree}">glutenFree</span> <br>
        vegan: <span th:text="${recipe.vegan}">vegan</span> <br>
        vegetarian: <span th:text="${recipe.vegetarian}">vegetarian</span> <br>

        recipeImageUrl:: [[${recipe.recipeImageUrl != null ? recipe.recipeImageUrl : "notset!"}]]
    </div>
    <div class="sub-recipe-card" id="recipe-card-container">
        <div id="ingredients-container">
            <th:block th:if="${recipe.recipeIngredients != null && #lists.size(recipe.recipeIngredients) > 0}"
                      th:each="recipeIngredient, iter : ${recipe.recipeIngredients}">
                <div class="ingredient">
                    <div class="ingredient-stats">
                        [[${iter.index}]]: [[${recipeIngredient.amount}]] [[${recipeIngredient.ingredient.unit}]]
                        [[${recipeIngredient.ingredient.name}]]:
                    </div>
                    <span class="ingredient-summary" th:if="${recipeIngredient.summary != null}">
                        [[${recipeIngredient.summary}]]
                    </span>
                </div>
            </th:block>
        </div>
    </div>

    <div class="sub-recipe-card">
        instructions: <span th:text="${recipe.instructions}">instructions</span> <br>
    </div>

    <div class="sub-recipe-card">
        Actions: [[${recipe}]] - [[${authenticated == null ? 'auth: null' : 'auth: true'}]] --->
        <form th:action="@{/recipe/like}" method="post">
            <button class="like-button"
                    type="submit"
                    th:attr="disabled=${authenticated == null}"
                    th:title="${authenticated == null ? 'Login to like the recipe' : (userLikedRecipe != null && userLikedRecipe == true ? 'Unlike the Recipe' : 'Like the Recipe')}"
                    name="recipeId" th:value="${recipe.id}">
                <ion-icon th:if="${userLikedRecipe != null && userLikedRecipe == false}"
                          name="arrow-up-circle-outline"></ion-icon>
                <ion-icon th:if="${userLikedRecipe != null && userLikedRecipe == true}"
                          name="arrow-up-circle"></ion-icon>
                [[${(userLikedRecipe != null && userLikedRecipe == true) ? 'Unlike the Recipe' : 'Like the Recipe'}]]
            </button>

            <button class="favorite-button"
                    type="submit"
                    th:formaction="@{/recipe/{id}/favorite(id=${recipe.id})}"
                    th:attr="disabled=${authenticated == null}"
                    th:title="${authenticated == null ? 'Login to favorite the Recipe': (userFavoritedRecipe != null && userFavoritedRecipe == true ? 'Unfavorite the Recipe' : 'Favorite the Recipe')}">
                <ion-icon th:if="${userFavoritedRecipe != null && userFavoritedRecipe == true}" name="star"></ion-icon>
                <ion-icon th:if="${userFavoritedRecipe != null && userFavoritedRecipe == false}"
                          name="star-outline"></ion-icon>
                [[${(userFavoritedRecipe!= null && userFavoritedRecipe == true) ? 'Unfavorite the Recipe' : 'Favorite
                the Recipe'}]]
            </button>

            <button class="add-to-list-button"
                    type="submit"
                    th:formaction="@{/recipe/{id}/toList(id=${recipe.id})}"
                    th:attr="disabled=${authenticated == null}"
                    th:title="${authenticated == null ? 'Login to add the Recipe to the List': 'Add the Recipe to the List'}">
                Einkaufsliste
            </button>
        </form>


        1. Like the Recipe
        2. Add to Favorites
        3. Show this recipe to a friend / invite a friend to cook this recipe with you
        4. Add recipe to einkaufsliste
        5. Comment

        -- TODO() -> have instructions seperated, maybe analyzed instructions?
    </div>
</div>

<!-- Scripts -->
<script type="text/javascript" th:src="@{/js/recipe.js}"></script>
</body>
</html>