<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header(title = ${pageTitle},
includeHeaderFragment = ${{'recipe-header'}},
includeIonicons = ${true})"></head>

<body>
<nav th:replace="fragments/navigation :: navigation"></nav>
<div class="page-content">
    <div class="recipe-card recipe-id-[[${recipe.id}]]">
        <div class="recipe__teaser">
            <div class="recipe-card-image-container">
                <div class="rating">
                    <span>[[${#lists.size(recipe.userLikes)}]] 👍</span>
                </div>
                <img class="recipe-card-img"
                     th:src="${recipe.picture != null ? '/resource/' + recipe.picture.id : (recipe.recipeImageUrl != null ? recipe.recipeImageUrl : '/unsecured_files/logo_placeholder.png')}">
            </div>
            <div class="recipe-card-info">

                <span class="recipe-card-info-title">[[${recipe.title}]]</span>

                <div>
                    <span th:text="${recipe.summary}">Summary</span>
                </div>

                <div class="recipe-card-info-flex">
                    <span class="recipe__bubble-wrapper">Ready in [[${recipe.readyInMinutes}]] Minutes ⏱️</span>
                </div>
            </div>
        </div>

        <div class="form-annotation">
            <div>1</div>
            <span>
                    Overview
            </span>
        </div>

        <div class="recipe__overview-container">
            <span class="recipe__bubble-wrapper">[[${recipe.servings}]] [[${recipe.servings > 1 ? 'servings' : 'serving'}]] 🍜</span>
            <span class="recipe__bubble-wrapper">[[${recipe.pricePerServing}]]💲 per serving</span>
            <span class="recipe__bubble-wrapper" th:if="${recipe.glutenFree == true}">glutenFree ✅</span>
            <span class="recipe__bubble-wrapper" th:if="${recipe.vegan == true}">vegan ✅</span>
            <span class="recipe__bubble-wrapper" th:if="${recipe.vegetarian == true}">vegetarian ✅</span>
        </div>

        <div class="form-annotation">
            <div>2</div>
            <span>
                    Ingredients
            </span>
        </div>

        <div id="recipe-card-container">
            <div id="ingredients-container">
                <th:block th:if="${recipe.recipeIngredients != null && #lists.size(recipe.recipeIngredients) > 0}"
                          th:each="recipeIngredient, iter : ${recipe.recipeIngredients}">
                    <div class="ingredient">
                        <div class="ingredient-img-wrapper">
                            <img class="ingredient-img"
                                 th:src="${recipeIngredient.ingredient.picture != null ? '/resource/' + recipe.picture.id : (recipeIngredient.ingredient.imageUrl != null ? recipeIngredient.ingredient.imageUrl : '/unsecured_files/leaf.png')}">
                        </div>
                        <div>
                            <div class="ingredient-stats">
                                [[${iter.index}]]: [[${recipeIngredient.amount}]]
                                [[${recipeIngredient.ingredient.unit}]]
                                [[${recipeIngredient.ingredient.name}]]:
                            </div>

                            <p class="ingredient-meta" th:if="${recipeIngredient.ingredient.meta != null}">
                                [[${recipeIngredient.ingredient.meta}]]
                            <p>

                            <span class="ingredient-summary" th:if="${recipeIngredient.summary != null}">
                                [[${recipeIngredient.summary}]]
                            </span>
                        </div>
                    </div>
                </th:block>
            </div>
        </div>

        <div class="form-annotation">
            <div>3</div>
            <span>
                    Instructions
            </span>
        </div>

        <div class="recipe__instructions">
            <span th:text="${recipe.instructions}">instructions</span>
        </div>

        <div class="recipe__actions-wrapper">
            <form th:action="@{/recipe/like}" method="post">
                <button class="like-button"
                        type="submit"
                        th:attr="disabled=${authenticated == null}"
                        th:title="${authenticated == null ? 'Login to like the recipe' : (userLikedRecipe != null && userLikedRecipe == true ? 'Unlike the Recipe' : 'Like the Recipe')}"
                        name="recipeId" th:value="${recipe.id}">
                    <ion-icon th:if="${(userLikedRecipe != null && userLikedRecipe == true) || authenticated == null}"
                              name="arrow-up-circle"></ion-icon>
                    <ion-icon th:if="${(userLikedRecipe != null && userLikedRecipe == false)}"
                              name="arrow-up-circle-outline"></ion-icon>
                    [[${(userLikedRecipe != null && userLikedRecipe == true) ? 'Unlike the Recipe' : 'Like the
                    Recipe'}]]
                </button>
            </form>

            <form th:action="@{/recipe/{id}/favorite(id=${recipe.id})}" method="post">
                <button class="favorite-button"
                        type="submit"
                        th:attr="disabled=${authenticated == null}"
                        th:title="${authenticated == null ? 'Login to favorite the Recipe': (userFavoritedRecipe != null && userFavoritedRecipe == true ? 'Unfavorite the Recipe' : 'Favorite the Recipe')}">
                    <ion-icon
                            th:if="${(userFavoritedRecipe != null && userFavoritedRecipe == true) || authenticated == null}"
                            name="star"></ion-icon>
                    <ion-icon th:if="${(userFavoritedRecipe != null && userFavoritedRecipe == false)}"
                              name="star-outline"></ion-icon>
                    [[${(userFavoritedRecipe!= null && userFavoritedRecipe == true) ? 'Unfavorite the Recipe' :
                    'Favorite
                    the Recipe'}]]
                </button>
            </form>

            <form th:action="@{/recipe/{id}/toList(id=${recipe.id})}" method="post">
                <button class="add-to-list-button"
                        type="submit"
                        th:attr="disabled=${authenticated == null}"
                        th:title="${authenticated == null ? 'Login to add the Recipe to the List': (userBuyListedRecipe != null && userBuyListedRecipe == true ? 'Remove from Buylist' : 'Add to Buylist')}">
                    <ion-icon name="cart"
                              th:if="${(userBuyListedRecipe != null && userBuyListedRecipe == true) || authenticated == null}"></ion-icon>
                    <ion-icon name="cart-outline"
                              th:if="${(userBuyListedRecipe != null && userBuyListedRecipe == false)}"></ion-icon>
                    [[${(userBuyListedRecipe != null && userBuyListedRecipe == true) ? 'Remove from Buylist' : 'Add to
                    Buylist'}]]
                </button>
            </form>

            <form th:action="@{/user/invite}" method="get"
                  class="invite-friends-form">
                <input type="hidden" name="recipeId" th:value="${recipe.id}">
                <button type="submit"
                        th:disabled="${authenticated == null}"
                        th:title="${authenticated == null ? 'Login to invite Friends' : 'Invite Friends'}">
                    <ion-icon name="mail"></ion-icon>
                    Invite Friends
                </button>
            </form>
        </div>


        <div class="form-annotation">
            <div>4</div>
            <span>
                    Comment Section
            </span>
        </div>

        <div>
            <div class="comment__overview">
                [[${#lists.size(recipeComments)}]] [[${#lists.size(recipeComments) > 1 ? 'Comments' : 'Comment'}]]
            </div>
            <form th:action="@{/recipe/{id}/comment(id=${recipe.id})}"
                  method="post"
                  id="comments">
                <label>
                <textarea class="comment__user-textarea"
                          name="message"
                          th:disabled="${authenticated == null}"
                          th:placeholder="${(authenticated == null ? 'Login to publicly comment on ' : 'Comment publicly on ')  + recipe.title}"></textarea>
                </label>
                <button type="submit"
                        class="comment__user-button"
                        th:title="${authenticated == null ? 'Login to public comment' : 'Submit public comment'}"
                        th:disabled="${authenticated == null}">Comment 💬
                </button>
            </form>

            <div>
                <div th:each="comment, iter : ${recipeComments}" class="comment__container">
                    <div class="comment__profile-image-container">
                        <img class="profile-image"
                             alt="profile picture"
                             th:title="${comment.user.username} + '\'s Profilepicture'"
                             th:src="${comment.user.picture != null ? '/resource/' + comment.user.picture.id : '/unsecured_files/placeholder_profile_image.png'}"/>
                    </div>
                    <div class="comment__content">
                        <div class="comment__header">
                            <a th:href="@{/user/profile/{username}(username=${comment.user.username})}">
                                [[${comment.user.name}]]
                            </a>
                            <span>
                            at [[${dateFormatter.format(comment.createdAt)}]]
                        </span>
                        </div>
                        <div class="comment__message">
                            [[${comment.message}]]
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:replace="fragments/footer :: footer()"></footer>
<!-- Scripts -->
<script type="text/javascript" th:src="@{/js/recipe.js}"></script>
</body>
</html>