<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header(title = ${pageTitle},
includeHeaderFragment = ${{'registration-header'}})"></head>

<body>
<nav th:replace="fragments/navigation :: navigation"></nav>

<div class="page-content">
    <div class="registration-container">
        <div class="registration-header">
            Registration
        </div>
        <div class="inner-container">
            <div th:if="${param.success}">
                <div class="alert alert-info">
                    You've successfully registered to our awesome app!
                </div>
            </div>

            <span th:if="${param.error}">
                There was an error registering your account, please try again.
            </span>

            <form th:action="@{/registration}" th:object="${user}" method="post" enctype="multipart/form-data">
                <div class="input-wrapper">
                    <input th:field="*{username}" placeholder=" "/>
                    <label th:for="*{username}" class="control-label">username</label>
                </div>
                <span th:errors="*{username}" class="error"></span>

                <div class="input-wrapper">
                    <input th:field="*{name}" placeholder=" "/>
                    <label th:for="*{name}" class="control-label">name</label>
                </div>
                <span th:errors="*{name}" class="error"></span>

                <div class="input-wrapper">
                    <div class="preview-img-container">
                        <img id="preview-img"
                             th:src="@{/unsecured_files/camera-outline.svg}"
                             alt="Profile Preview Image"/>
                    </div>
                    <input id="preview-img-input" th:field="*{file}" type="file"
                           accept="image/jpeg, image/jpg, image/png">
                    <label th:for="*{file}" class="control-label">picture</label>
                </div>
                <div th:if="${fileUploadException}" class="error">[[${fileUploadException}]]</div>
                <div th:if="${fileLimitExceedException}" class="error">[[${fileLimitExceedException}]]</div>
                <span th:errors="*{file}" class="error"></span>

                <div class="input-wrapper">
                    <input th:field="*{password}"
                           type="password" placeholder=" "/>
                    <label th:for="*{password}" class="control-label">Password</label>
                </div>
                <span th:errors="*{password}" class="error"></span>

                <div class="input-wrapper">
                    <input th:field="*{passwordConfirm}"
                           type="password" placeholder=" "/>
                    <label th:for="*{passwordConfirm}" class="control-label">Confirm password</label>
                </div>
                <span th:errors="*{passwordConfirm}" class="error"></span>

                <div class="submit-footer">
                    <button type="submit" class="btn btn-success">Register</button>
                    <span class="login-link">Already registered? <a href="/" th:href="@{/login}">Login here</a></span>
                </div>
            </form>
        </div>
    </div>
</div>

<footer th:replace="fragments/footer :: footer()"></footer>
<!-- Scripts -->
<script type="text/javascript" th:src="@{/js/previewImage.js}"></script>
</body>
</html>