<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header(title = ${pageTitle},
includeHeaderFragment = ${{'search-header'}})"></head>

<body>
<nav th:replace="fragments/navigation :: navigation"></nav>

<div class="page-content">
    <div class="tabs">
        <th:block th:if="${type == 'recipes' || type == 'everywhere'}">
            <input type="radio" name="tabs" id="tabone" th:checked="${type == 'recipes' || type == 'everywhere'}">
            <label for="tabone">
                <svg class="search-icon" viewBox="0 0 512 512">
                    <path d="M225.474 0C101.151 0 0 101.151 0 225.474c0 124.33 101.151 225.474 225.474 225.474 124.33 0 225.474-101.144 225.474-225.474C450.948 101.151 349.804 0 225.474 0zm0 409.323c-101.373 0-183.848-82.475-183.848-183.848S124.101 41.626 225.474 41.626s183.848 82.475 183.848 183.848-82.475 183.849-183.848 183.849z"/>
                    <path d="M505.902 476.472L386.574 357.144c-8.131-8.131-21.299-8.131-29.43 0-8.131 8.124-8.131 21.306 0 29.43l119.328 119.328A20.74 20.74 0 00491.187 512a20.754 20.754 0 0014.715-6.098c8.131-8.124 8.131-21.306 0-29.43z"/>
                </svg>
                Recipes
            </label>
            <div class="tab">
                <th:block th:if="${recipes != null}"
                          th:each="recipe, iter : ${recipes}"
                          th:object="${recipe}">
                    <div class="recipe-card recipe-id-[[*{id}]]">
                        <div class="recipe-card-image-container">
                            <div class="rating">
                                <span>[[${#lists.size(recipe.userLikes)}]] 👍</span>
                            </div>
                            <a th:href="'/recipe/'+ ${recipe.id}">
                                <img class="recipe-card-img"
                                     th:src="${recipe.picture != null ? '/resource/' + recipe.picture.id : (recipe.recipeImageUrl != null ? recipe.recipeImageUrl : '/unsecured_files/logo_placeholder.png')}">
                            </a>
                        </div>
                        <div class="recipe-card-info">
                            <a th:href="'/recipe/'+ ${recipe.id}">
                                <span class="recipe-card-info-title">[[*{title}]]</span>
                            </a>

                            <div>
                                <span>
                                    Servings: [[*{servings}]]
                                    <span th:utext="${escapedRecipeSummaries[iter.index]}">Escaped recipe summary in unsafe text</span>
                                </span>
                                <a th:href="'/recipe/'+ ${recipe.id}">Read
                                    more ...</a>
                            </div>

                            <div class="recipe-card-info-flex">
                                <span class="search__bubble-wrapper">Ready in [[*{readyInMinutes}]] Minutes</span>
                            </div>

                            <form th:action="@{/recipe/{id}(id=${recipe.id})}">
                                <button type="submit">
                                    Start cooking
                                </button>
                            </form>
                        </div>
                    </div>
                </th:block>

                <div class="search__results-information">
                    Page
                    <span>[[${recipes != null ? #sets.size(recipes) : '-'}]]</span>
                    of
                    <span>[[${recipes != null ? #sets.size(recipes) :
                        '-'}]]</span>
                </div>
            </div>
        </th:block>

        <th:block th:if="${type == 'users' || type == 'everywhere'}">
            <input type="radio" name="tabs" id="tabtwo" th:checked="${type == 'users'}">
            <label for="tabtwo">
                <svg class="search-icon" viewBox="0 0 512 512">
                    <path d="M225.474 0C101.151 0 0 101.151 0 225.474c0 124.33 101.151 225.474 225.474 225.474 124.33 0 225.474-101.144 225.474-225.474C450.948 101.151 349.804 0 225.474 0zm0 409.323c-101.373 0-183.848-82.475-183.848-183.848S124.101 41.626 225.474 41.626s183.848 82.475 183.848 183.848-82.475 183.849-183.848 183.849z"/>
                    <path d="M505.902 476.472L386.574 357.144c-8.131-8.131-21.299-8.131-29.43 0-8.131 8.124-8.131 21.306 0 29.43l119.328 119.328A20.74 20.74 0 00491.187 512a20.754 20.754 0 0014.715-6.098c8.131-8.124 8.131-21.306 0-29.43z"/>
                </svg>
                Users
            </label>
            <div class="tab">
                <th:block th:if="${searchUsers != null && #sets.size(searchUsers) > 0}"
                          th:each="searchUser : ${searchUsers}">
                    <div class="search__bubble-wrapper">
                        <a th:href="'/user/profile/' + ${searchUser.username}">
                            [[${searchUser.username}]]
                        </a>
                    </div>
                </th:block>

                <span class="search__bubble-wrapper"
                      th:if="${searchUsers == null || (searchUsers != null && (#sets.size(searchUsers) == 0))}">
                    No Profile with the Username ([[${q}]]) found
                </span>
            </div>
        </th:block>

        <th:block th:if="${type == 'recipes' || type == 'everywhere'}">
            <div class="tab-control">
                <a th:href="@{/recipe/create}">
                    <button th:disabled="${authenticated == null}"
                            th:title="${authenticated == null ? 'Login to create a new Recipe' : 'Create a new Recipe'}">
                        + Create Recipe
                    </button>
                </a>
            </div>
        </th:block>
    </div>
</div>

<footer th:replace="fragments/footer :: footer()"></footer>
</body>
</html>