<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header(title = ${pageTitle}, includeHeaderFragment = ${'search-header'})"></head>

<body>
<nav th:replace="fragments/navigation :: navigation"></nav>

<div class="page-content">
    <div class="tabs">
        <th:block th:if="${type == 'recipes' || type == 'everywhere'}">
            <input type="radio" name="tabs" id="tabone" th:checked="${type == 'recipes' || type == 'everywhere'}">
            <label for="tabone">
                <svg class="search-icon" viewBox="0 0 512 512">
                    <path d="M225.474 0C101.151 0 0 101.151 0 225.474c0 124.33 101.151 225.474 225.474 225.474 124.33 0 225.474-101.144 225.474-225.474C450.948 101.151 349.804 0 225.474 0zm0 409.323c-101.373 0-183.848-82.475-183.848-183.848S124.101 41.626 225.474 41.626s183.848 82.475 183.848 183.848-82.475 183.849-183.848 183.849z"/>
                    <path d="M505.902 476.472L386.574 357.144c-8.131-8.131-21.299-8.131-29.43 0-8.131 8.124-8.131 21.306 0 29.43l119.328 119.328A20.74 20.74 0 00491.187 512a20.754 20.754 0 0014.715-6.098c8.131-8.124 8.131-21.306 0-29.43z"/>
                </svg>
                Recipes
            </label>
            <div class="tab">
                recipe list:
                -> recipeSummaries
                <th:block th:if="${recipeSummaries != null}"
                          th:each="recipeSummary : ${recipeSummaries}"
                          th:object="${recipeSummary}">
                    <div class="recipe-card recipe-id-[[*{id}]]">
                        <div class="recipe-card-image-container">
                            <div class="rating">
                                <span>0</span>
                            </div>
                            <img class="recipe-card-img" th:src="@{/unsecured_files/logo_placeholder.png}">
                        </div>
                        <div class="recipe-card-info">
                            <span class="recipe-card-info-title">[[*{title}]]</span>

                            <div>
                                <span>
                                    "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"
                                </span>
                                <a>Read more ...</a>
                            </div>

                            <div class="recipe-card-info-flex">
                                <span>Ready in [[*{readyInMinutes}]] Minutes</span>
                                <span>Likes: 0</span>
                            </div>

                            <button>
                                Start cooking
                            </button>
                        </div>
                    </div>
                </th:block>

                <div>
                    #4 of 4
                </div>
            </div>
        </th:block>

        <th:block th:if="${type == 'users' || type == 'everywhere'}">
            <input type="radio" name="tabs" id="tabtwo" th:checked="${type == 'users'}">
            <label for="tabtwo">
                <svg class="search-icon" viewBox="0 0 512 512">
                    <path d="M225.474 0C101.151 0 0 101.151 0 225.474c0 124.33 101.151 225.474 225.474 225.474 124.33 0 225.474-101.144 225.474-225.474C450.948 101.151 349.804 0 225.474 0zm0 409.323c-101.373 0-183.848-82.475-183.848-183.848S124.101 41.626 225.474 41.626s183.848 82.475 183.848 183.848-82.475 183.849-183.848 183.849z"/>
                    <path d="M505.902 476.472L386.574 357.144c-8.131-8.131-21.299-8.131-29.43 0-8.131 8.124-8.131 21.306 0 29.43l119.328 119.328A20.74 20.74 0 00491.187 512a20.754 20.754 0 0014.715-6.098c8.131-8.124 8.131-21.306 0-29.43z"/>
                </svg>
                Users
            </label>
            <div class="tab">
                <th:block th:if="${searchUsers != null && #sets.size(searchUsers) > 0}"
                          th:each="searchUser : ${searchUsers}">
                    <div>
                        <a th:href="'/user/profile/' + ${searchUser.username}">
                            [[${searchUser.username}]]
                        </a>
                    </div>
                </th:block>

                <span th:if="${searchUsers == null || (searchUsers != null && (#sets.size(searchUsers) == 0))}">
                    No Profile with the Username ([[${q}]]) found
                </span>
            </div>
        </th:block>
    </div>
</div>
</body>
</html>