.page-divided {
    display: grid;
    grid-template-columns: 14rem 1fr;
    padding-top: 3.5rem;
}

.page-divided .left-side, .page-divided .right-side {
    height: calc(100vh - 3.5rem);
}

.calendar {
    width: 14rem;
    margin-top: 4rem;
}

.calendar-dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.calendar-date {
    background: white;
    color: black;
    border-radius: 0;
    padding: 0;
    margin: 0;
    width: 2rem;
    height: 2rem;
}

.calendar-title-mm-yyyy {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--secondary);
    border-radius: 3px 3px 0 0;
    padding: 0.1rem 1rem;
}

.calendar-title {
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--secondary);
    border-top: 1px solid black;
}

.calendar-date.selected {
    border: 1px solid var(--grey);
    background: var(--primary);
    color: white;
}

.calendar-date-is-today {
    border: 1px solid var(--grey);
    background: var(--primary-light);
    color: white;
}

.calendar-date:hover {
    background: var(--primary);
    color: white;
}

.date-out-of-range {
    opacity: 0.5;
}

.timeline-dates {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    height: 100%;
    overflow-y: scroll;
}

.timeline-date {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4rem repeat(96, 1rem);

    /*Stripe gradient*/
    background-image: repeating-linear-gradient(180deg, #fff, #fff 1rem, #fafafe 0.5rem, #fafafe 2rem);
}

.timeline-title {
    position: sticky;
    top: 0;
    background: var(--secondary);
    z-index: 1;
}

.timeline-title-selected {
    background: var(--primary);
}

.timeline-row-annotation {
    border-right: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.timeline-row-annotation.hidden span {
    opacity: 0;
}

.timeline-row-item {
    grid-row-start: 2; /*RANGE IS 2-96*/
    grid-row-end: 15;
    border-radius: 0;
    position: relative;
    font-size: 0.75rem;
}

.timeline-row-item__inner {
    background: var(--primary);
    color: white;
    padding: 0;
    margin: 0;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.timeline-row-item__hover-info {
    opacity: 0;
    transition: transform 0.5s ease;
    position: absolute;
    top: 0;
    left: 100%;
    transform: translateX(-10px);
    z-index: 100;
}

.timeline-row-item__hover-info.FRIDAY,
.timeline-row-item__hover-info.SATURDAY,
.timeline-row-item__hover-info.SUNDAY {
    left: unset;
    right: 100%;
}

.timeline-row-item__hover-info.FRIDAY::before,
.timeline-row-item__hover-info.SATURDAY::before,
.timeline-row-item__hover-info.SUNDAY::before {
    left: unset;
    right: 0;
    border-right: unset;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid rgba(0, 0, 0, 0.5);
}

.timeline-row-item__hover-info.FRIDAY .timeline-row-item__hover-mouse-buffer,
.timeline-row-item__hover-info.SATURDAY .timeline-row-item__hover-mouse-buffer,
.timeline-row-item__hover-info.SUNDAY .timeline-row-item__hover-mouse-buffer {
    transform: translateX(-10px);
    border-radius: 3px 0 3px 3px;
}

.timeline-row-item__hover-mouse-buffer {
    border-radius: 0 3px 3px 3px;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    transform: translateX(10px);
    padding: 0.7rem;
    width: max-content;
}

.timeline-row-item__hover-info::before {
    content: "";
    display: block;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid rgba(0, 0, 0, 0.5);
    left: 0;
    position: absolute;
}

.timeline-row-item:hover > .timeline-row-item__hover-info {
    opacity: 1;
    transform: translateX(0);
}

/*GENERAL DEFINITIONS*/

.ANNOTATION {
    background: white;
    grid-column: 1;
}

.MONDAY {
    grid-column: 2;
}

.TUESDAY {
    grid-column: 3;
}

.WEDNESDAY {
    grid-column: 4;
}

.THURSDAY {
    grid-column: 5;
}

.FRIDAY {
    grid-column: 6;
}

.SATURDAY {
    grid-column: 7;
}

.SUNDAY {
    grid-column: 8;
}


@media only screen and (max-width: 780px) {
    .page-divided {
        grid-template-columns: 1fr;
        padding-top: 0;
    }

    .page-divided .left-side, .page-divided .right-side {
        height: min-content;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .calendar {
        margin-top: 3.5rem;
    }

    .timeline-title span {
        text-overflow: ellipsis;
        width: 2rem;
        display: block;
        overflow: hidden;
    }
}