.page-divided {
    display: grid;
    grid-template-columns: 14rem 1fr;
}

.calendar {
    width: 14rem;
    margin: auto;
}

.calendar-dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.calendar-date {
    background: white;
    color: black;
    border-radius: 0;
    padding: 0;
    margin: 0;
    width: 2rem;
    height: 2rem;
}

.calendar-title-mm-yyyy {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--secondary);
    border-radius: 3px 3px 0 0;
    padding: 0.1rem 1rem;
}

.calendar-title {
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--secondary);
    border-top: 1px solid black;
}

.calendar-date.selected {
    border: 1px solid var(--grey);
    background: var(--primary);
    color: white;
}

.calendar-date-is-today {
    border: 1px solid var(--grey);
    background: var(--primary-light);
    color: white;
}

.calendar-date:hover {
    background: var(--primary);
    color: white;
}

.date-out-of-range {
    opacity: 0.5;
}

.timeline-dates {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    height: 100%;
}

.timeline-date {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4rem repeat(96, 1rem);

    /*Stripe gradient*/
    background-image: repeating-linear-gradient(180deg, #fff, #fff 1rem, #fafafe 0.5rem, #fafafe 2rem);
}

.timeline-title {
    background: var(--secondary);
}

.timeline-title-selected {
    background: var(--primary);
}

.timeline-row-annotation {
    border-right: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.timeline-row-annotation.hidden span {
    opacity: 0;
}

.timeline-row-item {
    grid-row-start: 2; /*RANGE IS 2-96*/
    background: var(--primary);
    grid-row-end: 15;
}

/*GENERAL DEFINITIONS*/

.ANNOTATION {
    background: white;
    grid-column: 1;
}

.MONDAY {
    grid-column: 2;
}

.TUESDAY {
    grid-column: 3;
}

.WEDNESDAY {
    grid-column: 4;
}

.THURSDAY {
    grid-column: 5;
}

.FRIDAY {
    grid-column: 6;
}

.SATURDAY {
    grid-column: 7;
}

.SUNDAY {
    grid-column: 8;
}
