.freezer-suggestions .freezer-suggestion {
    background: white;
    margin: 1rem;
}

.suggestions-ingredients {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: 1fr;
}

.suggestions-ingredients .enough {
    order: -2;
}

.suggestions-ingredients .enough .ingredient-amount {
    color: green;
}

.suggestions-ingredients .not-enough {
    order: -1;
}

.suggestions-ingredients .not-enough .ingredient-amount {
    color: var(--warning);
}

.suggestions-ingredients .missing .ingredient-amount {
    color: var(--error);
}

.multiselect-selected {
    display: flex;
}

.multiselect-selected div {
    background: var(--primary);
    color: var(--tab-active);
    width: max-content;
    padding: 0.5rem;
    border-radius: 3px;
    cursor: pointer;
    font-size: 0.5rem;
    transition: all 0.25s ease;
    margin: 0.5rem;
}

.freezer__add-to-button {
    border-radius: 0 3px 3px 0;
    height: 2rem;
}

.freezer__ingredient-form {
    display: flex;
    flex-wrap: wrap;
}

.freezer__ingredient-form div {
    margin: 0 0.25rem;
}

.freezer__recipe-card-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 0.5rem 0;
    border-top: 1px solid var(--primary-light);
    padding-top: 1rem;
}

.multiselect-selected div:hover {
    background: var(--primary-light);
}

.freezer-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* RECIPE */
.recipe-card {
    position: relative;
    display: flex;
}

.recipe-card:hover > .recipe-card-image-container > .recipe-card-img {
    height: 95%
}

.recipe-card-info {
    width: 100%;
    padding: 2em;
}

.recipe-card-info-title {
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.recipe-card-info-flex {
    display: flex;
    gap: 0.5rem;
    padding: 0.5rem 0;
}

.recipe-card-image-container {
    width: 15em;
    height: 15em;
    flex-basis: 15em;
    flex-shrink: 0;
    border-radius: 5px;
    background: var(--primary);
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: auto;
}

.recipe-card-image-container:hover > .recipe-card-img {
    height: 90%;
}

.recipe-card-img {
    width: auto;
    height: 100%;
    transition: all 0.5s ease;
}

.rating {
    position: absolute;
    background: var(--primary);
    border: 1px solid white;
    border-radius: 50%;
    width: 2em;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0.5em;
    right: 0.5em;
    overflow: hidden;
}


#ingredients-container {
    display: flex;
    flex-direction: column;
    font-size: 0.85rem;
}

.ingredient {
    border-radius: 5px;
    padding: 0.5em 1.5em;
    margin: 0.25em;
    display: flex;
    align-items: center;
}

.ingredient-img-wrapper {
    width: 3rem;
    height: 3rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.5rem;
}

.ingredient-img {
    width: initial;
    height: 100%;
}


.freezer__ready-in-wrapper {
    padding: 0.5rem 1rem;
    background: var(--primary);
    margin: 0 0.25rem;
    border-radius: 50px;
    color: white;
    border: 1px solid var(--main-bg-color-bright);
}

@media (min-width: 600px) {
    .suggestions-ingredients {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 850px) {
    .suggestions-ingredients {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

