.recipe-of-the-day, .challenge-of-the-day {
    padding: 1rem;
    background: white;
    margin: 1rem;
    border-radius: 5px;
    position: relative;
}

.recipe-of-the-day__divider {
    display: grid;
    grid-template-columns: 1fr 0.5fr;
}

.challenge-of-the-day__divider {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
}

.recipe-of-the-day__divider a, .challenge-of-the-day__divider a {
    position: relative;
}

.recipe-of-the-day__divider img, .challenge-of-the-day__divider img {
    width: 100%;
    border-radius: 5px;
}

.challenge-of-the-day__content {
    padding: 0 1rem 0 0;
}

.recipe-of-the-day__content {
    padding: 0 1rem;
}

.recipe-of-the-day .recipe-description__user-image-title-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.recipe-of-the-day .recipe-title-user-container {
    margin-left: 1rem;
}

.recipe-of-the-day .recipe-user-image-container {
    width: 65px;
    height: 65px;
}

.recipe-of-the-day .recipe-likes-container {
    padding-left: 0;
}

.masonry {
    column-count: 4;
    column-gap: 1.5em;
    padding: 1rem;
}

.masonry .item {
    background-color: white;
    display: inline-block;
    margin: 0 0 1em;
    width: 100%;
    border-radius: 5px;
}

.masonry .item .item-inner {
    padding: 1rem;
}

.masonry .item:hover {
    background: rgba(0, 0, 0, 0.1);
}

.masonry .item .recipe-card-img {
    width: 100%;
    border-radius: 5px;
    background: var(--primary);
}

.masonry .recipe-description__user-image-title-container {
    display: grid;
    grid-template-columns: 40px auto;
    grid-gap: 0.5em;
}

.masonry .recipe-description {
    color: black;
}

.masonry .recipe-description h1 {
    line-height: 0.7rem;
    max-width: 65%;
    color: black;
}

.masonry .recipe-description p {
    color: var(--grey)
}

.masonry .recipe-description h1, .masonry .recipe-description p {
    font-size: 0.8rem;
}

.masonry .recipe-title-user-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.recipe-likes-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    line-height: 0.7rem;
    margin-bottom: 0.5rem;
    margin-top: 0.25rem;
}

.masonry .recipe-likes-container {
    padding-left: calc(40px + 0.5rem);
}

.recipe-likes-container .like-icon {
    width: 10px;
    height: 10px;
    margin-left: 0.25rem;
}

.masonry .recipe-user-image-container {
    width: 40px;
    height: 40px;
    background: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
}

.masonry .recipe-user-image-container a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.masonry .recipe-user-description {
    margin-top: 0.2rem;
}

.masonry .profile-image {
    width: 40px;
}

.recipe-search {
    width: 100%;
    margin: auto;
}

.recipe-search h3 {
    margin-bottom: 0.5rem;
    padding-left: 0.5rem;
    color: var(--tab-inactive);
}

.recipe-search .recipe-search__wrapper {
    display: flex;
    margin-bottom: 1.5rem;
    width: 100%;
    flex-wrap: wrap;
    gap: 0.5rem
}

.recipe-search .recipe-search__item {
    padding: 0.5rem 1rem;
    background: var(--primary);
    margin: 0 0.25rem;
    border-radius: 50px;
    color: white;
    border: 1px solid var(--main-bg-color-bright);
}

.recipe-search .recipe-search__item:hover {
    background: var(--primary-light);
    color: black;
}

.ribbon {
    position: absolute;
    top: 0;
    right: 2rem;
    color: white;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 0 0 3px 3px;
}

.ribbon:after {
    content: "★ ★ ★";
    display: block;
    font-size: .4em;
    position: relative;
    margin: 15px 0 0;
    color: var(--warning);
    z-index: 2;
    transform: translateY(-13px);
}

.ribbon-content {
    z-index: 1;
    font-size: 0.75rem;
    font-style: oblique;
}

.ribbon-content:before {
    background: var(--primary-light);
    z-index: -1;
    position: absolute;
    content: "";
    display: block;
    top: -12px;
    left: -10px;
    width: 100%;
    height: 100%;
    transform: rotate(28deg);
    border-radius: 50%;
    box-shadow: -4px 4px;
}

.ribbon-content:after {
    background: var(--primary);
    z-index: -1;
    position: absolute;
    content: "";
    display: block;
    top: -14px;
    left: 10%;
    width: 100%;
    height: 100%;
    transform: 0;
    border-radius: 50%;
    transform: rotate(-26deg);
}

.ribbon-of-the-day .ribbon-content:before {
    top: -24px;
    left: -41px;
    transform: rotate(55deg);
}

.ribbon-of-the-day .ribbon-content:after {
    left: 5%;
}

.challenge-join-competition {
    position: absolute;
    top: 75%;
    left: -11%;
    z-index: 1;
    background: var(--primary);
    padding: 1rem 2rem;
    border-radius: 3px;
    color: white;
}

.challenge-users, .challenge-running-for {
    margin-top: 1rem;
}

#challenge-time {
    font-size: 3rem;
    font-weight: bold;
}

@media only screen and (max-width: 780px) {
    .masonry {
        column-count: 3;
    }

    .challenge-join-competition {
        left: 0;
        top: 50%;
    }
}

@media only screen and (max-width: 520px) {
    .masonry {
        column-count: 2;
    }

    .challenge-of-the-day__divider, .recipe-of-the-day__divider {
        grid-template-columns: 1fr;
    }
}

@media only screen and (max-width: 320px) {
    .masonry {
        column-count: 1;
        padding: 0 1rem;
    }

    .challenge-of-the-day {
        margin: 0;
    }
}