.multiselect-selected {
    margin: 1rem 0;
    display: flex;
}

.multiselect-selected div {
    background: var(--primary);
    color: var(--tab-active);
    width: max-content;
    padding: 0.5rem;
    border-radius: 3px;
    cursor: pointer;
    font-size: 0.5rem;
    transition: all 0.25s ease;
    margin: 0 0.5rem;
}

.multiselect-selected div:hover {
    background: var(--primary-light);
}

.invite__dates {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    margin: 1rem 0;
}

.invite__message #message {
    width: 100%;
    min-height: 10rem;
    resize: vertical;
}

.invite__title #title {
    width: 100%;
}

.error {
    display: block;
}