.page-content {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--main-bg-color)
}

.login-header {
    background: #e78f00;
    color: white;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 0.5em;
    border-radius: 3px 3px 0px 0px;
}

.login-container {
    background: #fafafa;
    width: 25em;
    border-radius: 3px;
    margin-bottom: 3em;
}

.inner-container {
    padding: 0em 2em 2em 2em;
}

.submit-footer {
    margin-top: 2em;
}

label {
    display: block;
}

input {
    width: calc(100% - 2em);
}

.top-message {
    margin-top: 1em;
}

.register-link {
    float: right;
}
