.recipe-card {
    margin: 0.5rem 5rem;
    background: white;
    padding: 1em;
}

.recipe-card-container {
    position: relative;
}

.recipe__teaser {
    position: relative;
    display: flex;
}

.recipe-card:hover > .recipe-card-image-container > .recipe-card-img {
    height: 95%
}

.recipe-card-info {
    width: 100%;
    padding: 2em;
}

.recipe-card-info-title {
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.recipe-card-info-flex {
    display: flex;
}

.recipe-card-image-container {
    width: 15em;
    height: 15em;
    flex-basis: 15em;
    flex-shrink: 0;
    border-radius: 5px;
    background: var(--primary);
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: auto;
}

.recipe-card-image-container:hover > .recipe-card-img {
    height: 90%;
}

.recipe-card-img {
    width: auto;
    height: 100%;
    transition: all 0.5s ease;
}

.rating {
    position: absolute;
    background: var(--primary);
    border: 1px solid white;
    color: white;
    border-radius: 50px;
    width: max-content;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0.5em;
    right: 0.5em;
    overflow: hidden;
    padding: 0 0.5rem;
}

.recipe__overview-container {
    margin-bottom: 3rem;
}

.copy-to-clipboard-wrapper {
    border: 1px solid var(--secondary);
    border-radius: 3px;
    cursor: copy;
    width: 1em;
    height: 1em;
    padding: 0.5em;
    position: sticky;
    top: 4rem;
    left: 100%;
    right: 0;
    background: white;
}

.copy-to-clipboard-wrapper:hover {
    background: var(--main-bg-color);
}

#copy-symbol[name="copy-outline"] {
    animation: copy-symbol-initial 0.25s ease;
}

#copy-symbol[name="checkbox-outline"] {
    animation: copy-symbol-appear 0.25s ease;
}

@keyframes copy-symbol-appear {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

@keyframes copy-symbol-initial {
    from {
        transform: translateY(-5px)
    }
    to {
        transform: translateY(0)
    }
}

#ingredients-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
    font-size: 0.85rem;
}

.ingredient {
    border-radius: 5px;
    padding: 0.5em 1.5em;
    margin: 0.25em;
    display: flex;
}

.ingredient-img-wrapper {
    width: 3rem;
    height: 3rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.5rem;
}

.ingredient-img {
    width: initial;
    height: 100%;
}

.recipe__instructions {
    margin-bottom: 3rem;
}

.recipe__actions-wrapper {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 3rem;
}

/* COMMENT SECTION */
#comments {
    display: flex;
    flex-direction: column;
}

#comments button {
    max-height: 1.6rem;
    max-width: max-content;
    align-self: end;
    margin: 0.5rem 0;
}

.comment__overview {
    font-size: 0.65rem;
}

.comment__user-textarea {
    width: 100%;
    resize: vertical;
    padding: 0.25rem;
}

.comment__user-textarea:disabled {
    resize: none;
    cursor: default;
}

.comment__container {
    display: grid;
    grid-template-columns: 4rem 1fr;
}

.comment__profile-image-container {
    padding: 0.5rem;
}

.comment__profile-image-container img {
    width: 100%;
}

.comment__header {
    font-size: 0.8rem;
    color: var(--grey);
}

.comment__content {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}

.comment__message {
    word-wrap: anywhere;
}

.recipe__bubble-wrapper {
    padding: 0.5rem 1rem;
    background: var(--primary);
    margin: 1rem 0.25rem;
    border-radius: 50px;
    color: white;
    border: 1px solid var(--main-bg-color-bright);
}