.recipe-card, .sub-recipe-card {
    margin: 0 5em 3em 5em;
    border: 1px solid var(--primary);
    background: white;
    padding: 1em;
}

.recipe-card {
    position: relative;
    display: flex;
}

.recipe-card:hover, .sub-recipe-card:hover {
    background: #f8f8f8;
    border: 1px solid var(--primary);
}

.recipe-card:hover > .recipe-card-image-container > .recipe-card-img {
    height: 95%
}

.recipe-card-info {
    width: 100%;
    padding: 2em;
}

.recipe-card-info-title {
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.recipe-card-info-flex {
    display: flex;
}

.recipe-card-image-container {
    width: 15em;
    height: 15em;
    flex-basis: 15em;
    flex-shrink: 0;
    border-radius: 5px;
    background: var(--primary);
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: auto;
}

.recipe-card-image-container:hover > .recipe-card-img {
    height: 90%;
}

.recipe-card-img {
    width: auto;
    height: 100%;
    transition: all 0.5s ease;
}

.rating {
    position: absolute;
    background: var(--primary);
    border: 1px solid white;
    border-radius: 50%;
    width: 2em;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0.5em;
    right: 0.5em;
    overflow: hidden;
}

.copy-to-clipboard-wrapper {
    border: 1px solid var(--secondary);
    border-radius: 3px;
    cursor: copy;
    width: 1em;
    height: 1em;
    padding: 0.5em;
    float: right;
}

.copy-to-clipboard-wrapper:hover {
    background: var(--main-bg-color);
}

#copy-symbol[name="copy-outline"] {
    animation: copy-symbol-initial 0.25s ease;
}

#copy-symbol[name="checkbox-outline"] {
    animation: copy-symbol-appear 0.25s ease;
}

@keyframes copy-symbol-appear {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

@keyframes copy-symbol-initial {
    from {
        transform: translateY(-5px)
    }
    to {
        transform: translateY(0)
    }
}

#ingredients-container {
    display: flex;
    flex-direction: column;
    margin-top: 3em;
}

.ingredient {
    border-radius: 5px;
    padding: 0.5em 1.5em;
    margin: 0.25em;
}

.ingredient:nth-of-type(2n -1) {
    background: var(--primary-light);
}

.ingredient:nth-of-type(2n) {
    background: var(--secondary-light);
}