@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

:root {
    --main-bg-color: #e9e9e9;
    --main-bg-color-bright: #f8f8f8;
    --grey: #635f5f;
    --primary: #efb450;
    --secondary: #37ad48;
    --third: #e78f00;
    --fourth: #5a189a;
    --fifth: #7b2cbf;
    --success: #1b861b;
    --warning: #f6c213;
    --error: #ff4e4e;
}

* {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background: var(--main-bg-color);
}

a {
    text-decoration: none;
}

button {
    background: var(--secondary);
    color: white;
    border: none;
    border-radius: 3px;
    padding: 0.5em 1em;
    cursor: pointer;
}

button:hover {
    background: var(--primary);
}

.warning {
    color: var(--warning);
}

.success {
    color: var(--success);
}

.error {
    color: var(--error);
}

/* INPUT */
.input-wrapper {
    border-bottom: 1px dashed var(--third);
    padding-top: 1.5em;
    position: relative;
    overflow: hidden;
}

.input-wrapper input {
    width: 100%;
    padding: 5px 15px;
    background: transparent;
    border: 0 none;
    position: relative;
    z-index: 2;
    font-size: 1em;
    outline: none;
}

.input-wrapper label {
    display: block;
    position: absolute;
    transform: translateY(-1.45em);
    transform-origin: 0;
    transition: transform 400ms;
    z-index: 1;
    color: grey;
}

.input-wrapper:focus-within {
    border-color: transparent;
}

.input-wrapper:focus-within label, .input-wrapper input:not(:placeholder-shown) + label {
    transform: scale(0.8) translateY(-3.5em);
}

.input-wrapper::after {
    content: "";
    display: block;
    height: 4px;
    margin-top: -3px;
    width: 100%;
    background: var(--primary);
    transform: scaleX(0);
    transform-origin: 0;
    transition: transform 500ms ease;
    position: relative;
}

.input-wrapper:focus-within::after {
    transform: scaleX(1);
    height: 3px;
    position: relative;
}

/* NAVIGATION */
nav {
    background-color: white;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);
    position: fixed;
    width: 100%;
}

nav .nav-container {
    padding: 0.5em 1em;
    height: 2.5em;
    display: flex;
    justify-content: space-between;
    position: relative;
}

nav .nav-logo {
    height: 2em;
}

nav .nav-items {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .nav-items .nav-item {
    cursor: pointer;
    width: 1.25em;
    height: 1.25em;
    padding: 0.5em;
    margin-left: 0.5em;
    border-radius: 20px;
}

nav .nav-items .nav-item:hover {
    background: var(--main-bg-color);
}

nav .nav-search-container {
    display: flex;
    background: var(--main-bg-color);
    padding: 0.5em 1em;
    margin-left: 1em;
    border: 1px solid #b4b4b4;
    border-radius: 9999px;
    transition: 0.25s background linear;
}

nav .nav-search-container .search-icon {
    height: 1em;
    margin-right: 0.25em;
    transform: translateX(-0.1em);
}

nav .nav-search-container #search {
    border: none;
    border-radius: 9999px;
    background: transparent;
}

nav .nav-search-container:focus-within {
    background: white;
}

nav .profile-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    margin-left: 2em;
    position: relative;
}

nav .profile-container .nav-profile-image {
    height: 2em;
    width: 2em;
    border-radius: 100%;
    border: 1px solid #b4b4b4;
}

nav .profile-container .user-name {
    margin: 0 0.5em;
}

nav .profile-container .open-profile {
    width: 1em;
    height: 1em;
    transform: translateY(1px);
}

nav .profile-container ul.open-profile-dropdown {
    display: none;
    position: absolute;
    width: 100%;
    top: 1.8em;
    padding-top: 1em;
    list-style-type: none;
    border-radius: 3px;
    overflow: hidden;
}

ul.open-profile-dropdown li {
    width: 100%;
    background: var(--secondary);
    cursor: pointer;
}

ul.open-profile-dropdown li a {
    width: 100%;
    height: 100%;
    color: white;
    display: block;
    padding: 0.5em;
}

ul.open-profile-dropdown li:hover {
    background: var(--third);
}

nav .profile-container:hover > ul.open-profile-dropdown {
    display: block;
}

nav .profile-container:hover > .user-name, nav .profile-container:hover > img.open-profile {
    opacity: 0.75;
}

div.page-content {
    padding-top: 3.5em;
}
