@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

:root {
    --main-bg-color: #e9e9e9;
    --main-bg-color-bright: #f8f8f8;
    --grey: #635f5f;
    --primary: #0366d6;
    --primary-light: #a5daff;
    --secondary: #264653;
    --secondary-light: rgba(55, 173, 72, 0.1);
    --third: #e78f00;
    --fourth: #5a189a;
    --fifth: #7b2cbf;
    --linkColor: #0366d6;
    --success: #1b861b;
    --warning: #f6c213;
    --error: #ff4e4e;

    --tab-active: #fff;
    --tab-inactive: #939393;

    --navbar-border: #c1c6c8;
    --navbar-height: 2.5rem;
    --navbar-padding-top-bottom: 0.5rem;

    --recipe-card-height: 15em;

    --color-input-background: #e8f3f5;
    --label-color: #c1c6c8;
}

* {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background: var(--main-bg-color);
}

a {
    text-decoration: none;
    cursor: pointer;
    color: var(--linkColor);
}

a:visited {
    color: var(--linkColor);
}

button {
    background: var(--secondary);
    color: white;
    border: none;
    border-radius: 3px;
    padding: 0.5em 1em;
    cursor: pointer;
}

button.next-to-input {
    border-radius: 0 3px 3px 0;
    height: 2rem;
}

button[disabled] {
    background: var(--grey);
    cursor: default;
}

button:not([disabled]):hover {
    background: var(--primary);
}

label {
    display: block;
    color: var(--label-color);
}

input, textarea {
    box-sizing: border-box;
    background: var(--color-input-background);
    padding: 0 0.5rem;
    height: 2rem;
    cursor: pointer;
    min-width: 1rem;
    min-height: 1rem;
    border: 1px solid var(--primary-light);
}

input[type="select"] {
    appearance: none;
}

.file-wrapper input[type="file"] {
    font-size: 17px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    -webkit-tap-highlight-color: transparent;
    opacity: 0;
    z-index: 1;
}

.file-wrapper {
    position: relative;
    width: max-content;
    background: var(--secondary);
    color: white;
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
    margin: 0.5rem 0;
}

.file-wrapper:hover {
    background: var(--primary);
}

select {
    background: var(--color-input-background);
    padding: 0 1rem 0 0.5rem;
    border: none;
    height: 2rem;
    background-image: url('/unsecured_files/down-arrow.svg');
    background-repeat: no-repeat;
    background-position: right .7em top 50%;
    background-size: .65em auto;
    appearance: none;
}

.warning {
    color: var(--warning);
}

.success {
    color: var(--success);
}

.error {
    color: var(--error);
}

/* INPUT */
.input-wrapper {
    border-bottom: 1px dashed var(--primary);
    padding-top: 1.5em;
    position: relative;
    overflow: hidden;
}

.input-wrapper input {
    width: 100%;
    padding: 5px 15px;
    background: transparent;
    border: 0 none;
    position: relative;
    z-index: 2;
    font-size: 1em;
    outline: none;
}

.input-wrapper label {
    display: block;
    position: absolute;
    transform: translateY(-1.45em);
    transform-origin: 0;
    transition: transform 400ms;
    z-index: 1;
    color: grey;
}

.input-wrapper:focus-within {
    border-color: transparent;
}

.input-wrapper:focus-within label, .input-wrapper input:not(:placeholder-shown) + label {
    transform: scale(0.8) translateY(-3.5em);
}

.input-wrapper::after {
    content: "";
    display: block;
    height: 4px;
    margin-top: -3px;
    width: 100%;
    background: var(--primary);
    transform: scaleX(0);
    transform-origin: 0;
    transition: transform 500ms ease;
    position: relative;
}

.input-wrapper:focus-within::after {
    transform: scaleX(1);
    height: 3px;
    position: relative;
}

.form-grid {
    display: flex;
    grid-gap: 1rem;
}

.grid-fill {
    width: 100%;
}

.form-annotation {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    padding: 0.5rem 0;
    margin-bottom: 3rem;
}

.form-annotation span {
    overflow: hidden;
    text-overflow: ellipsis;
}

.form-annotation div {
    border-radius: 0 3px 3px 0;
    width: 1rem;
    height: 1rem;
    padding: 0.5rem;
    background: var(--linkColor);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    transform: translateX(-1rem);
}

.form-annotation-txt-controls {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.form-input-wrapper {
    margin-bottom: 3rem;
    position: relative;
}

.read-more.dots {
    display: none;
}

.read-more.more {
    display: inline-block;
}

/* NAVIGATION */
nav {
    background-color: white;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);
    position: fixed;
    width: 100%;
    z-index: 10000;
}

nav .nav-container {
    padding: var(--navbar-padding-top-bottom) 1em;
    height: var(--navbar-height);
    display: flex;
    justify-content: space-between;
    position: relative;
}

nav .nav-logo {
    height: 8vw;
    max-height: 2rem;
}

nav .nav-items, nav .nav-items a {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .nav-items .nav-item {
    cursor: pointer;
    width: 1.25em;
    height: 1.25em;
    padding: 0.5em;
    margin-left: 0.5em;
    border-radius: 20px;
}

nav .nav-items .nav-item:hover {
    background: var(--main-bg-color);
}

nav .nav-search-container {
    display: flex;
    background-color: var(--main-bg-color);
    padding: 0.1rem 1rem;
    margin-left: 1rem;
    box-shadow: 0px 0px 0px 1px var(--navbar-border) inset;
    border-radius: 9999px;
    transition: 0.25s background linear;
    position: relative;
}

nav .nav-search-container .search-icon {
    height: 1em;
    margin-right: 0.25em;
    transform: translateX(-0.1em);
    align-self: center;
}

nav .nav-search-container #search {
    border: none;
    border-radius: 9999px;
    background: transparent;
}

nav .nav-search-container:focus-within, nav .nav-search-container:focus-within select {
    background-color: white;
}

nav .profile-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    margin-left: 2em;
    position: relative;
}

nav .profile-container a {
    margin: 0 0.5rem;
}

nav .profile-container .nav-profile-image {
    height: 2em;
    width: 2em;
    border-radius: 100%;
    border: 1px solid #b4b4b4;
}

nav .profile-container .user-name {
    margin: 0 0.5em;
    max-width: 6rem;
    word-break: break-all;
    overflow: scroll;
    height: 2rem;
    display: flex;
    align-items: center;
}

nav .profile-container .open-profile {
    width: 1em;
    height: 1em;
    transform: translateY(1px);
}

nav .profile-container ul.open-profile-dropdown, .notifications-container ul.open-notifications-dropdown {
    display: none;
    position: absolute;
    padding-top: 1em;
    list-style-type: none;
    border-radius: 3px;
    overflow: hidden;
}

.open-profile-dropdown {
    top: 2em;
    width: min-content;
}

.open-profile-dropdown li {
    padding: 0 1rem;
}

.notifications-container {
    position: relative;
    display: flex;
    justify-content: center;
}

.open-notifications-dropdown {
    top: 1.95em;
    width: max-content;
}

ul.open-profile-dropdown li, ul.open-notifications-dropdown li {
    width: 100%;
    background: var(--tab-active);
    cursor: pointer;
}

ul.open-profile-dropdown li a, ul.open-notifications-dropdown li a {
    width: 100%;
    height: 100%;
    color: black;
    display: block;
    padding: 0.5em;
}

ul.open-profile-dropdown li:hover, ul.open-notifications-dropdown li:hover {
    border-top: 1px solid var(--primary);
    border-bottom: 1px solid var(--primary);
}

nav .profile-container:hover > ul.open-profile-dropdown, nav .notifications-container:hover > ul.open-notifications-dropdown {
    display: block;
}

nav .profile-container:hover > .user-name, nav .profile-container:hover > img.open-profile {
    opacity: 0.75;
}

ul.open-notifications-dropdown .notification-status, ul.open-notifications-dropdown li.notification-status:hover {
    background: var(--tab-active);
    border-bottom: 2px solid var(--tab-inactive);
    padding: 0.25em;
    opacity: 0.25;
    cursor: default;
    font-size: 0.75em;
}

/* PAGE CONTENT WRAPPER*/
div.page-content {
    padding-top: 3.5em;
    max-width: 870px;
    margin: auto;
    position: relative;
    min-height: calc(100vh - var(--navbar-height) - (var(--navbar-padding-top-bottom) * 2));
    height: max-content;
}

div.page-content.full {
    max-width: unset;
}

/* TABS */
.tabs {
    display: flex;
    flex-wrap: wrap;
}

.tabs label {
    order: 1;
    z-index: 1;
    cursor: pointer;
    padding: 1rem 2rem;
    position: relative;
    overflow: hidden;
    transition: color 0.25s cubic-bezier(0.7, 0, 0.3, 1);
    display: flex;
    align-items: center;
    height: 1em;
    margin-bottom: 0.5rem;
}

.tabs label:hover::after {
    background: var(--primary)
}

.tabs label::after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: var(--tab-inactive);
    content: '';
    transition: transform 0.25s cubic-bezier(0.7, 0, 0.3, 1), background 0.25s cubic-bezier(0.7, 0, 0.3, 1);
    transform: translate3d(0, 100%, 0) translate3d(0, -3px, 0);
}

.tabs label svg {
    height: 1em;
    display: inline-block;
    margin-right: 0.25em;
}

.tabs .tab {
    order: 99;
    display: none;
    width: 100%;
    height: calc(100% - 3rem);
    background: var(--tab-active)
}

.tabs input[type="radio"] {
    display: none;
}

.tabs input[type="radio"]:checked + label::after {
    transform: translate3d(0, 0, 0);
    background: var(--primary);
}

.tabs input[type="radio"]:checked + label:hover {
    color: var(--tab-active)
}

.tabs input[type="radio"] + label:hover {
    color: var(--primary)
}

.tabs input[type="radio"]:checked + label + .tab {
    display: block;
}

/* SELECT */

select#type {
    position: absolute;
    height: 100%;
    top: 0;
    transition: 0.25s background linear;
    border: 1px solid var(--navbar-border);
    border-radius: 0 3px 3px 0;
}

select#type option {
    line-height: 24px;
}

.card {
    background: var(--main-bg-color-bright);
    margin: 1rem;
    padding: 1rem;
    border-radius: 3px;
}

.footer {
    background: white;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: relative;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);
}

.footer div, .footer a {
    margin: 0.5rem;
    font-size: 0.7rem;
}

@media only screen and (max-width: 1150px) {
    .nav-items.nav-items-subpages {
        position: absolute;
        right: 0;
        display: flex;
        flex-direction: column;
        top: 4rem;
        padding: 0.5rem;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
    }

    nav .nav-items .nav-item {
        margin-left: 0;
    }

    nav .profile-container ul.open-profile-dropdown, .notifications-container ul.open-notifications-dropdown {
        right: 0;
    }

    nav .nav-item {
        background: rgba(255, 255, 255, 0.25);
    }
}

@media only screen and (max-width: 780px) {
    .nav-container {
        background: red;
    }

    .nav-items-title {
        display: none;
    }

    nav .profile-container .user-name {
        display: none;
    }
}


@media only screen and (max-width: 520px) {
    .nav-container {
        background: blue;
    }


    .page-content {
        font-size: 0.9rem;
    }

    h1 {
        font-size: 1.2rem;
    }

    nav .profile-container {
        flex-direction: column;
        align-items: flex-start;
        font-size: 0.8rem;
    }

    nav .profile-container.authenticated {
        align-items: center;
    }

    nav .nav-search-container #search {
        width: calc(100% - 3rem);
    }

    .tabs label {
        height: 1em;
        padding: 0.5rem;
    }
}

@media only screen and (max-width: 320px) {
    .nav-container {
        background: green;
    }

    .nav-search-container select#type {
        display: none
    }

    nav .nav-search-container #search {
        width: 100%;
    }
}